<div class="content-block" role="main">


    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <header>
                    <h2>{{ vm.team }}</h2>
                    <section class="tab-content">
                        <br></br>
                        <!-- Tab #basic -->
                        <div class="tab-pane active" id="basic">

                            <!-- Example vertical forms -->
                            <div class="row-fluid">

                            </div>
                            <div class="span8">
                                <div class="tab-pane active" id="static">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                        <tr>
                                            <th>Members</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="(key, value) in vm.members">
                                            <td><a href="panel/{{ value.username }}/memberProfile">{{ value.username }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <hr/>
                                    <a href="javascript:history.go(-1)" class="btn btn-flat btn-large btn-primary">Back</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </header>
            </div>
        </article>
    </div>

</div>