<div class="content-block" role="main" ng-controller="AllTeamsController">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">

                        <h2>All teams</h2>
                        <p>Here is shown in table the list of all teams registered. You may able to see their informations</strong></p>

                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Team Name</th>
                                <th>Number of elements</th>
                                <th>Max Number of elements</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in vm.team">
                                <td><a href="panel/{{ value.name }}/teamMembers">{{value.name}}</a></td>
                                <td>{{value.allmembers}}</td>
                                <td>{{value.max_members}}</td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>

        </article>
    </div>
</div>