<div class="content-block" role="main" ng-controller="AllTeamsController">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">

                        <h2>All teams</h2>
                        <p ng-if="vm.team.results.length != 0">Here is shown in table the list of all teams registered. You may able to see their information.</p>
                        <p ng-if="vm.team.results.length == 0">There are no teams registered.</p>

                        <table ng-if="vm.team.results.length != 0" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Team Name</th>
                                <th>Number of elements</th>
                                <th>Max Number of elements</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in vm.team.results">
                                <td><a href="panel/{{ value.name }}/teamMembers">{{value.name}}</a></td>
                                <td>{{value.allmembers}}</td>
                                <td>{{value.max_members}}</td>

                            </tr>
                            </tbody>

                        </table>
                        <nav>
                            <ul class="pager">
                                <li ng-if="vm.team.previous != null" ng-click="vm.change(vm.team.previous)"><a href="#">Previous</a></li>
                                <li ng-if="vm.team.next!=null" ng-click="vm.change(vm.team.next)"><a href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </section>
            </div>

        </article>
    </div>
</div>