<div class="content-block" role="main" ng-controller="TeamController">


<!-- Grid row -->
<div class="row">

	<!-- Data block -->
	<article class="span12 data-block">
		<div class="data-container">
            <section class="tab-content">
                <header>
                    <h2>{{ vm.team.group.name }}</h2>
                    <a ng-if="vm.member.is_admin==true" href="/panel/{{ vm.team.group.name }}/editTeamProfile">( Edit Team Profile ) </a>

                </header>
                <br></br>
                <!-- Tab #basic -->
                <div class="tab-pane active" id="basic">

                    <!-- Example vertical forms -->
                    <div class="row-fluid">

                        </div>

                        <div class="span8">
                            <div class="tab-pane active" id="static">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Members</th>
                                        <th>Admin</th>
                                        <th ng-if="vm.member.is_admin==true">Remove</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="(key, value) in vm.members">
                                        <td><a href="panel/{{ value.username }}/memberProfile">{{ value.username }}</a></td>
                                        <td ng-if="value.is_admin==true"><input type="checkbox" name="option1" checked ng-model="value.is_admin" ng-change="vm.removeAdmin(value.username)"></td>
                                        <td ng-if="value.is_admin==false"><input type="checkbox" name="option1" ng-model="value.is_admin" ng-change="vm.addAdmin(value.username)"></td>
                                        <td ng-if="vm.members.length > 1 && vm.member.is_admin==true"><a class="btn btn-primary btn-flat" ng-click="vm.removeMember(value.username)">X</a></td>
                                        <td ng-if="vm.members.length == 1 && vm.member.is_admin==true">
                                            <a class="btn btn-primary btn-flat" data-toggle="modal" href="#confirmTeam">X</a>
                                            <div class="modal fade hide"  id="confirmTeam">
                                                <div class="modal-body">
                                                    <button type="button" class="close" data-dismiss="modal">×</button>

                                                    <p align="center">Your Team <strong>({{vm.team.group.name}})</strong> will be removed!</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a data-dismiss="modal" ng-click="vm.destroy()" class="btn btn-alt btn-danger" >Delete</a>
                                                </div>
                                            </div>
                                        </td>


                                    </tr>
                                    </tbody>
                                </table>
                                <form role="form" ng-submit="vm.addMember()">
                                    <fieldset>
                                        <div class="control-group">
                                            <label class="control-label" for="newmember">Add Member</label>
                                            <div class="controls">
                                                <input id="newmember" type="text" placeholder="Member's Username" name="name" ng-model="vm.username">
                                                <button class="btn btn-alt btn-large btn-primary" type="submit">Add</button>
                                                <!--<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p> -->
                                            </div>
                                            <div class="form-actions">

                                            </div>
                                        </div>

                                    </fieldset>

                                </form>
                                <a href="javascript:history.go(-1)" class="btn btn-alt btn-large btn-primary">Back</a>

                            </div>
                        </div>
                    </div>
                </div>
			</section>	
		</div>
	</article>
</div>