<div class="content-block" role="main">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">
                        <h2>My teams</h2>
                        <p ng-if="vm.team.length != 0">Here is shown in table the list of all teams registered.</p>
                        <table ng-if="vm.team.length != 0" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Team Name</th>
                                <th>Number of elements</th>
                                <th>Max Number of Elements</th>
                                <th>Agents</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in vm.team">
                                <td><a href="panel/{{ value.name }}/editTeam">{{ value.name }}</a></td>
                                <td>{{value.allmembers}}</td>
                                <td>{{value.max_members}}</td>
                                <td ng-if="value.allAgents == 0">This team doesn't have any agent</td>
                                <td ng-if="value.allAgents != 0"><a href="panel/{{value.name}}/allAgents">Agents</a></td>
                            </tr>
                            </tbody>
                        </table>

                        <a ng-if="vm.team.length == 0" class="btn btn-alt btn-large btn-primary" href="panel/{{ vm.team.username }}/createTeam">Create your First Team</a>
                    </div>

                </section>
            </div>

        </article>
    </div>
</div>
