<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Main Page | Bootstrap Admin Template</title>
		<meta name="description" content="">
		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- jQuery Visualize Styles -->
		<link rel='stylesheet' type='text/css' href='css/plugins/jquery.visualize.css'>
		
		<!-- jQuery jGrowl Styles -->
		<link rel='stylesheet' type='text/css' href='css/plugins/jquery.jgrowl.css'>
		
		<!-- CSS styles -->
		<link rel='stylesheet' type='text/css' href='css/ciberonline-red.css'>
		
		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="img/icons/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="img/icons/apple-touch-icon-57-precomposed.png">
		
		<!-- JS Libs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/libs/jquery.js"><\/script>')</script>
		<script src="js/libs/modernizr.js"></script>
		<script src="js/libs/selectivizr.js"></script>
		
		<script>
			$(document).ready(function(){
				
				// Tooltips
				$('[title]').tooltip({
					placement: 'top'
				});
				
			});
		</script>
	</head>
	<body>
		
		<!-- Main page header -->
		<header class="container">
		
			<!-- Main page logo -->
			<h1><a href="login.html" class="brand">Ciber</a></h1>
			
			<!-- Alternative navigation -->
			<nav>
				<ul>
					<li><a href="login.html">Universidade de Aveiro</a></li>
					<li><a href="login.html">Ciber Rato</a></li>
				</ul>
			</nav>
			<!-- /Alternative navigation -->
			
		</header>
		<!-- /Main page header -->
		
		<!-- Main page container -->
		<section class="container" role="main">
		
			<!-- Left (navigation) side -->
			<div class="navigation-block">
			
				<!-- User profile -->
				<section class="user-profile">
					<figure>
						<img alt="John Pixel avatar" src="http://www.gravatar.com/avatar/306e22d51e339755ae9ff3daf0e9858e?s=60">
						<figcaption>
							<strong><a href="#" class="">Gabriel Vieira</a></strong>
							<em>Universidade de Aveiro</em>
							<ul>
								<li><a class="btn btn-primary btn-flat" href="#" title="Account settings">Logout</a></li>
							</ul>
						</figcaption>
					</figure>
				</section>
				<!-- /User profile -->
				<!-- Main navigation -->
				<nav class="main-navigation" role="navigation">
					<ul>

						<li>
							<a href="index.html"><span class="awe-home"></span><strong>Home Page</strong></a>
						</li>
						<li>
							<a href="#"><span class="awe-user"></span><strong>User Management</strong></a>
							<ul>
								<li><a href="changePass.html">Change Password</a></li>
								<li><a href="editProfile.html">Edit Profile</a></li>
							</ul>
						</li>
						<li>
							<a href="#"><span class="awe-group"></span><strong>Team Management</strong></a>
							<ul>
								<li><a href="myteams.html">My Teams</a></li>
								<li><a href="createTeam.html">Create Team</a></li>
								<li><a href="seeGroups.html">All Teams</a></li>
							</ul>
						</li>

						<li>
							<a href="#"><span class="awe-trophy"></span><strong>Competition</strong></a>
							<ul>
								<li><a href="myteams.html">Submit</a></li>
								<li><a href="#">Join competition</a></li>

								<li><a href="createTeam.html">See logs</a></li>
								<li><a href="#">Past Competitions</a></li>
								<li><a href="#">My teams submissions</a></li>
								<li><a href="#">Current competition</a></li>
							</ul>
						</li>
					</ul>
					
				</nav>
				<!-- /Main navigation -->
				
				<!-- Sample side note -->
				<section class="side-note">
					<div class="side-note-container">
						<h2>Sample Side Note</h2>
						<p>This project was developed by a group students of the University of Aveiro.</p>
					</div>
					<div class="side-note-bottom"></div>
				</section>
				<!-- /Sample side note -->
			</div>
			<!-- Left (navigation) side -->
			
			<!-- Right (content) side -->
			<div class="content-block" role="main">
	
				
				<!-- Grid row -->
				<div class="row">
				
					<!-- Data block -->
					<article class="span12 data-block">
						<div class="data-container">
							<header>
								<h2>Change Password</h2>
							<section class="tab-content">
								<br></br>
								<!-- Tab #basic -->
								<div class="tab-pane active" id="basic">
								
									<!-- Example vertical forms -->
									<div class="row-fluid">
										<div class="span4">
											<p>In this page you can edit your group. Please edit your <strong>Change Password</strong>, 
												and <strong>Number of elements</strong>.
											</p>
											<br></br>
											<p> When you complete your editions, please click on button <strong>Save changes</strong> to save your group profile with new information.</p>

										</div>
										<div class="span8">
											<form>
												<fieldset>
													<div class="control-group">
														<label class="control-label" for="input">Password</label>
														<div class="controls">
															<input id="firstname" class="input-xlarge" type="text" placeholder="" name="name">
															<!--<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p> -->
														</div>
													</div>

													<div class="control-group">
														<label class="control-label" for="input">Confirm Password</label>
														<div class="controls">
															<input id="firstname" class="input-xlarge" type="text" placeholder="" name="name">
															<!--<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p> -->
														</div>
													</div>
													
													
										
													<div class="form-actions">
														<a class="btn btn-alt btn-large btn-primary" href="SucessEdit.html" type="submit">Save changes</a>
													</div>

													<div class="form-actions">
														<a class="btn btn-large btn-inverse btn-alt" href="settings.html"><span class="pull-left"> </span> Back </a>
													</div>		

													<!-- info abaixo -->	
													<footer class="info">
														<p>After you click on "Save Changes", the group information will be saved in a database.</p>
														<p>If you want to cancel this operation, please click on "Back".</p>

													</footer>
												</fieldset>
											</form>
										</div>
									</div>
								</div>
							</section>	
						</div>
					</article>
				</div>
			</div>			
		</section>
		<!-- /Main page container -->
		
		<!-- Main page footer -->
		<footer class="container">
			<p>Built with love on <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> by <a href="http://www.ciberonline.com">CiberOnline</a>.</p>
			<ul>
				<li><a href="#" class="">Support</a></li>
				<li><a href="#" class="">Documentation</a></li>
				<li><a href="#" class="">API</a></li>
			</ul>
			<a href="#top" class="btn btn-primary btn-flat pull-right">Top &uarr;</a>
		</footer>
		<!-- /Main page footer -->
		
		<!-- Scripts -->
		<script src="js/navigation.js"></script>
		<script src="js/bootstrap/bootstrap-affix.js"></script>
		<script src="js/bootstrap/bootstrap-alert.js"></script>
		<script src="js/bootstrap/bootstrap-tooltip.js"></script>
		<script src="js/bootstrap/bootstrap-dropdown.js"></script>
		<script src="js/bootstrap/bootstrap-tab.js"></script>
		<script src="js/bootstrap/bootstrap-collapse.js"></script>
		<script src="js/bootstrap/bootstrap-fileupload.js"></script>
		<script src="js/bootstrap/bootstrap-inputmask.js"></script>

		<!-- jQuery TagsInput -->
		<script src="js/plugins/tagsInput/jquery.tagsinput.min.js"></script>
		
		<script>
			$(document).ready(function() {
			
				$('.tagsinput').tagsInput();
			
			});
		</script>
		
		<!-- jQuery jWYSIWYG -->
		<script src="js/plugins/jWYSIWYG/jquery.wysiwyg.js"></script>
		
		<script>
			$(document).ready(function() {
				
				$('.wysiwyg').wysiwyg({
					controls: {
						bold          : { visible : true },
						italic        : { visible : true },
						underline     : { visible : true },
						strikeThrough : { visible : true },
						
						justifyLeft   : { visible : true },
						justifyCenter : { visible : true },
						justifyRight  : { visible : true },
						justifyFull   : { visible : true },
			
						indent  : { visible : true },
						outdent : { visible : true },
			
						subscript   : { visible : true },
						superscript : { visible : true },
						
						undo : { visible : true },
						redo : { visible : true },
						
						insertOrderedList    : { visible : true },
						insertUnorderedList  : { visible : true },
						insertHorizontalRule : { visible : true },
						
						cut   : { visible : true },
						copy  : { visible : true },
						paste : { visible : true }
					},
					events: {
						click: function(event) {
							if ($("#click-inform:checked").length > 0) {
								event.preventDefault();
								alert("You have clicked jWysiwyg content!");
							}
						}
					}
				});
				
			});
		</script>
		
		<!-- Wysihtml5 -->
		<script src="js/plugins/wysihtml5/wysihtml5-0.3.0.js"></script>
		<script src="js/plugins/wysihtml5/bootstrap-wysihtml5.js"></script>
		
		<script>
			$(document).ready(function() {
				
				$('.wysihtml5').wysihtml5();
				
			});
		</script>
		
		<!-- Colorpicker -->
		<script src="js/plugins/colorpicker/bootstrap-colorpicker.js"></script>
		
		<script>
			$(document).ready(function() {
				
				var preview = $('.colorpicker-preview')[0].style;
				$('.colorpicker').colorpicker().on('changeColor', function(ev){
					preview.backgroundColor = ev.color.toHex();
				});
				
			});
		</script>
		
		<!-- Colorpicker -->
		<script src="js/plugins/datepicker/bootstrap-datepicker.js"></script>
		
		<script>
			$(document).ready(function() {
				
				$('.datepicker').datepicker();
				
			});
		</script>
		
	</body>
</html>
