<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Create Team | Bootstrap Admin Template</title>
		<meta name="description" content="">|
		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- CSS styles -->
		<link rel='stylesheet' type='text/css' href='../src/web/static/stylesheets/ciberonline-red.css'>
		
		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="../src/web/static/img/icons/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../src/web/static/img/icons/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../src/web/static/img/icons/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="../src/web/static/img/icons/apple-touch-icon-57-precomposed.png">
		
		<!-- JS Libs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../src/web/static/js/libs/jquery.js"><\/script>')</script>
		<script src="../src/web/static/js/libs/modernizr.js"></script>
		<script src="../src/web/static/js/libs/selectivizr.js"></script>
		
		<script>
			$(document).ready(function(){
				
				// Tooltips
				$('[title]').tooltip({
					placement: 'top'
				});
				
			});
		</script>
	</head>
	<body>
		<header class="container">
		
			<!-- Main page logo -->
			<h1><a href="login.html" class="brand">Ciber</a></h1>
			
			<!-- Alternative navigation -->
			<nav>
				<ul>
					<li>
					<li><a href="login.html">Logout</a></li>
				</ul>
			</nav>
			<!-- /Alternative navigation -->
			
		</header>
		<!-- Main page container -->
		<section class="container login" role="main">
			
			<h1>Create Team</h1>
			<div class="data-block">
				<form method="post" action="index.html">
					<fieldset>
						<!-- first name -->
						<div class="control-group"> 
							<label class="control-label" for="first">Team Name</label> 
							<div class="controls">
								<input id="firstname" type="text" placeholder="name of the team" name="name">
							</div>
						</div>

						<p></p>
						<!-- Instituição de ensino -->
						<div class="control-group">
							<label class="control-label" for="select">Numbers of elements</label>
							<div class="controls">
								<select id="select">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
								</select>
							</div>
						</div>

						<div class="form-actions">
							<a class="btn btn-large btn-inverse btn-alt" type="submit"><span class="awe-signin"></span> Finish</a>
						</div>
						<br></br>
						<div class="form-actions">
							<a class="btn btn-large btn-inverse btn-alt" href="settings.html"><span class="awe-signin"></span> Back </a>
						</div>	 	
					</fieldset>
				</form>
			</div>
		</section>
		<!-- /Main page container -->
		
		<!-- Scripts -->
		<script src="../src/web/static/js/bootstrap/bootstrap-tooltip.js"></script>
		
	</body>
</html>
