<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Main Page | Bootstrap Admin Template</title>
		<meta name="description" content="">
		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- jQuery Visualize Styles -->
		<link rel='stylesheet' type='text/css' href='css/plugins/jquery.visualize.css'>
		
		<!-- jQuery jGrowl Styles -->
		<link rel='stylesheet' type='text/css' href='css/plugins/jquery.jgrowl.css'>
		
		<!-- CSS styles -->
		<link rel='stylesheet' type='text/css' href='css/ciberonline-red.css'>
		
		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="img/icons/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="img/icons/apple-touch-icon-57-precomposed.png">
		
		<!-- JS Libs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/libs/jquery.js"><\/script>')</script>
		<script src="js/libs/modernizr.js"></script>
		<script src="js/libs/selectivizr.js"></script>
		
		
        <script data-require="angular.js@1.2.x" src="http://code.angularjs.org/1.2.7/angular.js" data-semver="1.2.7"></script>
        <script type='text/javascript' src='https://code.jquery.com/jquery-git.js'></script>
        <script type='text/javascript' src="https://x2js.googlecode.com/hg/xml2json.js"></script>
        <script src ="js/webviewer.js"></script>
		
		<script>
			$(document).ready(function(){
				
				// Tooltips
				$('[title]').tooltip({
					placement: 'top'
				});
				
			});
		</script>
	</head>
	<body>
		
		<!-- Main page header -->
		<header class="container">
		
			<!-- Main page logo -->
			<h1><a href="login.html" class="brand">Ciber</a></h1>
			
			<!-- Alternative navigation -->
			<nav>
				<ul>
					<li><a href="admin/index.html" style="color: #e74949">Administration</a></li>
					<li><a href="login.html">Universidade de Aveiro</a></li>
					<li><a href="login.html">Ciber Rato</a></li>
				</ul>
			</nav>
			<!-- /Alternative navigation -->
			
		</header>
		<!-- /Main page header -->
		
		<!-- Main page container -->
		<section class="container" role="main">
		
			<!-- Left (navigation) side -->
			<div class="navigation-block">
			
				<!-- User profile -->
				<section class="user-profile">
					<figure>
						<img alt="John Pixel avatar" src="http://www.gravatar.com/avatar/306e22d51e339755ae9ff3daf0e9858e?s=60">
						<figcaption>
							<strong><a href="#" class="">Gabriel Vieira</a></strong>
							<em>Universidade de Aveiro</em>
							<ul>
								<li><a class="btn btn-primary btn-flat" href="#" title="Account settings">Logout</a></li>
							</ul>
						</figcaption>
					</figure>
				</section>
				<!-- /User profile -->
				
				<!-- Main navigation -->
				<nav class="main-navigation" role="navigation">
					<ul>

						<li>
							<a href="index.html"><span class="awe-home"></span><strong>Home Page</strong></a>
						</li>
						<li>
							<a href="#"><span class="awe-user"></span><strong>User Management</strong></a>
							<ul>
								<li><a href="changePass.html">Change Password</a></li>
								<li><a href="editProfile.html">Edit Profile</a></li>
							</ul>
						</li>
						<li>
							<a href="#"><span class="awe-group"></span><strong>Team Management</strong></a>
							<ul>
								<li><a href="myteams.html">My Teams</a></li>
								<li><a href="createTeam.html">Create Team</a></li>
								<li><a href="seeGroups.html">All Teams</a></li>
							</ul>
						</li>

						<li>
							<a href="#"><span class="awe-trophy"></span><strong>Competition</strong></a>
							<ul>
								<li><a href="SubmeterCodigo.html">Submit</a></li>
								<li><a href="#">Join competition</a></li>

								<li><a href="seelogs.html">See logs</a></li>
								<li><a href="#">Past Competitions</a></li>
								<li><a href="#">My teams submissions</a></li>
								<li><a href="currentCompetition.html">Current competition</a></li>
							</ul>
						</li>
					</ul>
					
				</nav>
				<!-- /Main navigation -->
				
				<!-- Sample side note -->
				<section class="side-note">
					<div class="side-note-container">
						<h2>Sample Side Note</h2>
						<p>This project was developed by a group students of the University of Aveiro.</p>
					</div>
					<div class="side-note-bottom"></div>
				</section>
				<!-- /Sample side note -->
			</div>
			<!-- Left (navigation) side -->
			
			<!-- Right (content) side -->
			<div class="content-block" role="main">
				
				<!-- Page header -->
					<h1>WebViewer</h1>
				<!-- /Page header -->
				
				<!-- Grid row -->
				<div class="row">
					<article class="span12 data-block">
						<div class="data-container" ng-controller="ctrl">
                            <section>
                                <div class="row">
                                    <div class="span12" style="text-align: center; vertical-align: middle">
                                        <svg width="{{28*zoom}}" height="{{14*zoom}}" style="background-color: black">
                                            <g transform="translate(0,{{14*zoom}})">
                                                <g transform="scale(1,-1)">
                                                    <g ng-repeat="(key, value) in map">
                                                        <g ng-if="key == 'Beacon'">
                                                            <circle ng-cx="{{value._X*zoom}}" ng-cy="{{value._Y*zoom}}" r="{{zoom}}" stroke="#00ffff" stroke-width="2" />
                                                            <image ng-x="{{value._X*zoom-30}}" ng-y="{{value._Y*zoom-30}}" width="{{zoom*2}}" height="{{zoom*2}}" xlink:href="img/svg/cheese.svg" />
                                                        </g>

                                                        <g ng-if="key == 'Wall'" ng-repeat="(k, v) in value track by $index">
                                                            <polygon ng-if="v._Height>=beacon_height" ng-points="'{{v.str}}'" style=" fill:#008000" />
                                                            <polygon ng-if="v._Height<beacon_height" ng-points="'{{v.str}}'" style=" fill:#0000ff" />
                                                        </g>
                                                        <g>
                                                            <circle ng-cx="{{420}}" ng-cy="{{210}}" r="15" stroke="#00ffff" stroke-width="2" />
                                                            <image ng-x="{{420-15}}" ng-y="{{210-15}}" width="{{zoom}}" height="{{zoom}}" xlink:href="img/svg/mickey_red_smile.svg"  transform = "rotate(-90 420 210)" />
                                                            <!--No caso das imagens svg inseridas, tem de se retirar á coordenada x e y da imagem, metade do valor da width e height  -->
                                                        </g>
                                                    </g>
                                                    <g ng-repeat="(key, value) in grid">
                                                        <g ng-if="key == 'Position'" ng-repeat="(k, v) in value track by $index">
                                                            <circle ng-cx="{{v._X*zoom}}" ng-cy="{{v._Y*zoom}}" r="{{zoom/2}}" stroke="#00ffff" stroke-width="2" style=" fill:#cfd4db" />
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                </div>


                            </section>
						</div>
					</article>
					
				</div>
				<!-- /Grid row -->
					
				<!-- Grid row -->
				<div class="row">

					<!-- Data block -->
					<article class="span6 data-block">
						<div class="data-container">
							<header>
								<h2>Status</h2>
							</header>
							<section>
								<div class="row-fluid demo">
									<div class="span3">Time</div>
									<div class="span3">Collisions</div>
									<div class="span3">Stopped</div>
									<div class="span3">Score</div>
								</div>
								<div class="row-fluid" style="text-align: center">
									<div class="span3"><h2>0</h2></div>
									<div class="span3"><h2>0</h2></div>
									<div class="span3"><h2 style="color: #6b9b20">True</h2><h2 style="color: #e74949">False</h2></div>
									<div class="span3"><h2>0</h2></div>
								</div>
							</section>
						</div>
					</article>
					<!-- /Data block -->

					<!-- Data block -->
					<article class="span4 data-block">
						<div class="data-container">
							<header>
								<h2>Mouse</h2>
							</header>
							<section>
								<div class="row-fluid demo">
									<div class="span4">Name</div>
									<div class="span4">Position</div>
									<div class="span4">Mouse</div>
								</div>
								<div class="row-fluid" style="text-align: center">
									<div class="span4"><h2>AA</h2></div>
									<div class="span4"><h2>3</h2></div>
									<div class="span4">SVG</div>
								</div>
							</section>
						</div>
					</article>
					<!-- /Data block -->

					<!-- Data block -->
					<article class="span2 data-block">
						<div class="data-container">
							<header>
								<h2>Remaining…</h2>
							</header>
							<section style="text-align: center">
                                <div class="row-fluid">
									<div class="span2"><h1>1800</h1></div>
								</div>
							</section>
						</div>
					</article>
					<!-- /Data block -->
					
				</div>
				<!-- /Grid row -->
				
			</div>			
		</section>
		<!-- /Main page container -->
		
		<!-- Main page footer -->
		<footer class="container">
			<p>Built with love on <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> by <a href="http://www.ciberonline.com">CiberOnline</a>.</p>
			<ul>
				<li><a href="#" class="">Support</a></li>
				<li><a href="#" class="">Documentation</a></li>
				<li><a href="#" class="">API</a></li>
			</ul>
			<a href="#top" class="btn btn-primary btn-flat pull-right">Top &uarr;</a>
		</footer>
		<!-- /Main page footer -->
		






        <textarea id="labXML" cols="55" rows="15" style="visibility: hidden; display: none">
                                            <Lab Name="lab de teste" Height="14.00" Width="28.00">
                                                <Beacon X="11.50" Y="2.50" Height="2.00"/>
                                                <Target X="11.50" Y="2.50" Radius="2.00"/>
                                                <Wall Height="3.00">
                                                    <Corner X="12.50" Y="14.00"/>
                                                    <Corner X="12.50" Y="11.50"/>
                                                    <Corner X="8.50" Y="11.50"/>
                                                    <Corner X="8.50" Y="11.00"/>
                                                    <Corner X="13.00" Y="11.00"/>
                                                    <Corner X="13.00" Y="14.00"/>
                                                </Wall>
                                                <Wall Height="3.00">
                                                    <Corner X="0.00" Y="9.00"/>
                                                    <Corner X="6.50" Y="9.00"/>
                                                    <Corner X="6.50" Y="6.50"/>
                                                    <Corner X="10.00" Y="6.50"/>
                                                    <Corner X="13.00" Y="8.50"/>
                                                    <Corner X="18.00" Y="9.50"/>
                                                    <Corner X="21.50" Y="7.50"/>
                                                    <Corner X="24.50" Y="7.50"/>
                                                    <Corner X="24.50" Y="5.00"/>
                                                    <Corner X="25.00" Y="5.00"/>
                                                    <Corner X="25.00" Y="8.00"/>
                                                    <Corner X="21.50" Y="8.00"/>
                                                    <Corner X="18.00" Y="10.00"/>
                                                    <Corner X="13.00" Y="9.00"/>
                                                    <Corner X="10.00" Y="7.00"/>
                                                    <Corner X="7.00" Y="7.00"/>
                                                    <Corner X="7.00" Y="9.50"/>
                                                    <Corner X="0.00" Y="9.50"/>
                                                </Wall>
                                                <Wall Height="1.00">
                                                    <Corner X="19.50" Y="0.00"/>
                                                    <Corner X="19.50" Y="3.00"/>
                                                    <Corner X="22.50" Y="3.00"/>
                                                    <Corner X="22.50" Y="2.50"/>
                                                    <Corner X="20.00" Y="2.50"/>
                                                    <Corner X="20.00" Y="0.00"/>
                                                </Wall>
                                                <Wall Height="3.00">
                                                    <Corner X="4.50" Y="4.00"/>
                                                    <Corner X="4.50" Y="7.00"/>
                                                    <Corner X="2.00" Y="7.00"/>
                                                    <Corner X="2.00" Y="6.50"/>
                                                    <Corner X="4.00" Y="6.50"/>
                                                    <Corner X="4.00" Y="3.50"/>
                                                    <Corner X="7.50" Y="3.50"/>
                                                    <Corner X="7.50" Y="0.00"/>
                                                    <Corner X="8.00" Y="0.00"/>
                                                    <Corner X="8.00" Y="4.00"/>
                                                </Wall>
                                            </Lab>



                                        </textarea>
        <textarea id="gridXML" cols="55" rows="15" style="visibility: hidden; display: none">
            <Grid>
                <Position X="1.50" Y="10.50" Dir="-90.00"/>
                <Position X="3.00" Y="5.50" Dir="45.00"/>
                <Position X="6.00" Y="2.00" Dir="0.00"/>
                <Position X="1.50" Y="13.00" Dir="90.00"/>
                <Position X="4.50" Y="13.00" Dir="90.00"/>
            </Grid>

        </textarea>




		<!-- Scripts -->
		<script src="js/navigation.js"></script>
		<script src="js/bootstrap/bootstrap-affix.js"></script>
		<script src="js/bootstrap/bootstrap-alert.js"></script>
		<script src="js/bootstrap/bootstrap-tooltip.js"></script>
		<script src="js/bootstrap/bootstrap-dropdown.js"></script>
		<script src="js/bootstrap/bootstrap-tab.js"></script>
		<script src="js/bootstrap/bootstrap-collapse.js"></script>
		<script src="js/bootstrap/bootstrap-fileupload.js"></script>
		<script src="js/bootstrap/bootstrap-inputmask.js"></script>

		<!-- jQuery TagsInput -->
		<script src="js/plugins/tagsInput/jquery.tagsinput.min.js"></script>
		
		<script>
			$(document).ready(function() {
			
				$('.tagsinput').tagsInput();
			
			});
		</script>
		
		<!-- jQuery jWYSIWYG -->
		<script src="js/plugins/jWYSIWYG/jquery.wysiwyg.js"></script>
		
		<script>
			$(document).ready(function() {
				
				$('.wysiwyg').wysiwyg({
					controls: {
						bold          : { visible : true },
						italic        : { visible : true },
						underline     : { visible : true },
						strikeThrough : { visible : true },
						
						justifyLeft   : { visible : true },
						justifyCenter : { visible : true },
						justifyRight  : { visible : true },
						justifyFull   : { visible : true },
			
						indent  : { visible : true },
						outdent : { visible : true },
			
						subscript   : { visible : true },
						superscript : { visible : true },
						
						undo : { visible : true },
						redo : { visible : true },
						
						insertOrderedList    : { visible : true },
						insertUnorderedList  : { visible : true },
						insertHorizontalRule : { visible : true },
						
						cut   : { visible : true },
						copy  : { visible : true },
						paste : { visible : true }
					},
					events: {
						click: function(event) {
							if ($("#click-inform:checked").length > 0) {
								event.preventDefault();
								alert("You have clicked jWysiwyg content!");
							}
						}
					}
				});
				
			});
		</script>
		
		<!-- Wysihtml5 -->
		<script src="js/plugins/wysihtml5/wysihtml5-0.3.0.js"></script>
		<script src="js/plugins/wysihtml5/bootstrap-wysihtml5.js"></script>
		
		<script>
			$(document).ready(function() {
				
				$('.wysihtml5').wysihtml5();
				
			});
		</script>
		
		<!-- Colorpicker -->
		<script src="js/plugins/colorpicker/bootstrap-colorpicker.js"></script>
		
		<script>
			$(document).ready(function() {
				
				var preview = $('.colorpicker-preview')[0].style;
				$('.colorpicker').colorpicker().on('changeColor', function(ev){
					preview.backgroundColor = ev.color.toHex();
				});
				
			});
		</script>
		
		<!-- Colorpicker -->
		<script src="js/plugins/datepicker/bootstrap-datepicker.js"></script>
		
		<script>
			$(document).ready(function() {
				
				$('.datepicker').datepicker();
				
			});
		</script>
		
	</body>
</html>
