<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Edit Team Profile | Bootstrap Admin Template</title>
		<meta name="description" content="">|
		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- jQuery TagsInput Styles -->
		<link rel='stylesheet' type='text/css' href='../src/web/static/stylesheets/plugins/jquery.tagsinput.css'>
		
		<!-- jQuery jWYSIWYG Styles -->
		<link rel='stylesheet' type='text/css' href='../src/web/static/stylesheets/plugins/jquery.jwysiwyg.css'>
		
		<!-- Bootstrap wysihtml5 Styles -->
		<link rel='stylesheet' type='text/css' href='../src/web/static/stylesheets/plugins/bootstrap-wysihtml5.css'>
		
		<!-- CSS styles -->
		<link rel='stylesheet' type='text/css' href='../src/web/static/stylesheets/ciberonline-red.css'>
		
		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="../src/web/static/img/icons/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../src/web/static/img/icons/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../src/web/static/img/icons/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="../src/web/static/img/icons/apple-touch-icon-57-precomposed.png">
		
		<!-- JS Libs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../src/web/static/js/libs/jquery.js"><\/script>')</script>
		<script src="../src/web/static/js/libs/modernizr.js"></script>
		<script src="../src/web/static/js/libs/selectivizr.js"></script>
		
		<script>
			$(document).ready(function(){
				
				// Tooltips
				$('[title]').tooltip({
					placement: 'top'
				});
				
				// Dropdowns
				$('.dropdown-toggle').dropdown();
				
				// Tabs
				$('.demoTabs a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
				})
				
			});
		</script>
	</head>
	<body>
		
		<!-- Main page header -->
		<header class="container">
		
			<!-- Main page logo -->
			<h1><a href="login.html" class="brand">Ciber</a></h1>
			
			<!-- Alternative navigation -->
			<nav>
				<ul>
					<li>
					<li><a href="login.html">Logout</a></li>
				</ul>
			</nav>
			<!-- /Alternative navigation -->
			
		</header>
		<!-- /Main page header -->
		
		<!-- Main page container -->
		<section class="container" role="main">
		
			<!-- Left (navigation) side -->
			<div class="navigation-block">
			
				<!-- User profile -->
				<section class="user-profile">
						<strong>User:</strong> <a href="#" class="User">John Pixel</a><p></p>
						<strong>Educacional institution</strong>: <a href="http://www.ua.pt/">University of Aveiro</a>
				</section>
				<!-- /User profile -->
	
			</div>
			<!-- Left (navigation) side -->
			
			<!-- Right (content) side -->
			<div class="content-block" role="main">
	
				
				<!-- Grid row -->
				<div class="row">
				
					<!-- Data block -->
					<article class="span12 data-block">
						<div class="data-container">
							<header>
								<h2>Edit Team</h2>
							<section class="tab-content">
								<br></br>
								<!-- Tab #basic -->
								<div class="tab-pane active" id="basic">
								
									<!-- Example vertical forms -->
									<div class="row-fluid">
										<div class="span4">
											<p>In this page you can edit your group. Please edit your <strong>Team Name</strong>, 
												and <strong>Number of elements</strong>.
											</p>
											<br></br>
											<p> When you complete your editions, please click on button <strong>Save changes</strong> to save your group profile with new information.</p>

										</div>
										<div class="span8">
											<form>
												<fieldset>
													<div class="control-group">
														<label class="control-label" for="input">Team Name</label>
														<div class="controls">
															<input id="firstname" class="input-xlarge" type="text" placeholder="name of the team" name="name">
															<!--<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p> -->
														</div>
													</div>
													
													<div class="control-group">
														<label class="control-label" for="select">Number of elements</label>
														<div class="controls">
															<select id="select">
																<option>1</option>
																<option>2</option>
																<option>3</option>
																<option>4</option>
																<option>5</option>
																<option>6</option>
															</select>
														</div>
													</div>
													<div class="form-actions">
														<a class="btn btn-alt btn-large btn-primary" href="SucessEdit.html" type="submit">Save changes</a>
													</div>

													<div class="form-actions">
														<a class="btn btn-large btn-inverse btn-alt" href="settings.html"><span class="pull-left"> </span> Back </a>
													</div>		

													<!-- info abaixo -->	
													<footer class="info">
														<p>After you click on "Save Changes", the group information will be saved in a database.</p>
														<p>If you want to cancel this operation, please click on "Back".</p>

													</footer>
												</fieldset>
											</form>
										</div>
									</div>
								</div>
							</section>	
						</div>
					</article>
				</div>
			</div>			
		</section>
		<!-- /Main page container -->
		
		<!-- Main page footer -->
		<footer class="container">
			<p>Built with love on <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> by <a href="http://www.ciberonline.com">CiberOnline</a>.</p>
			<ul>
				<li><a href="#" class="">Support</a></li>
				<li><a href="#" class="">Documentation</a></li>
				<li><a href="#" class="">API</a></li>
			</ul>
			<a href="#top" class="btn btn-primary btn-flat pull-right">Top &uarr;</a>
		</footer>
		<!-- /Main page footer -->
		
		<!-- Scripts -->
		<script src="../src/web/static/js/navigation.js"></script>
		<script src="../src/web/static/js/bootstrap/bootstrap-affix.js"></script>
		<script src="../src/web/static/js/bootstrap/bootstrap-alert.js"></script>
		<script src="../src/web/static/js/bootstrap/bootstrap-tooltip.js"></script>
		<script src="../src/web/static/js/bootstrap/bootstrap-dropdown.js"></script>
		<script src="../src/web/static/js/bootstrap/bootstrap-tab.js"></script>
		<script src="../src/web/static/js/bootstrap/bootstrap-collapse.js"></script>
		<script src="../src/web/static/js/bootstrap/bootstrap-fileupload.js"></script>
		<script src="../src/web/static/js/bootstrap/bootstrap-inputmask.js"></script>

		<!-- jQuery TagsInput -->
		<script src="../src/web/static/js/plugins/tagsInput/jquery.tagsinput.min.js"></script>
		
		<script>
			$(document).ready(function() {
			
				$('.tagsinput').tagsInput();
			
			});
		</script>
		
		<!-- jQuery jWYSIWYG -->
		<script src="../src/web/static/js/plugins/jWYSIWYG/jquery.wysiwyg.js"></script>
		
		<script>
			$(document).ready(function() {
				
				$('.wysiwyg').wysiwyg({
					controls: {
						bold          : { visible : true },
						italic        : { visible : true },
						underline     : { visible : true },
						strikeThrough : { visible : true },
						
						justifyLeft   : { visible : true },
						justifyCenter : { visible : true },
						justifyRight  : { visible : true },
						justifyFull   : { visible : true },
			
						indent  : { visible : true },
						outdent : { visible : true },
			
						subscript   : { visible : true },
						superscript : { visible : true },
						
						undo : { visible : true },
						redo : { visible : true },
						
						insertOrderedList    : { visible : true },
						insertUnorderedList  : { visible : true },
						insertHorizontalRule : { visible : true },
						
						cut   : { visible : true },
						copy  : { visible : true },
						paste : { visible : true }
					},
					events: {
						click: function(event) {
							if ($("#click-inform:checked").length > 0) {
								event.preventDefault();
								alert("You have clicked jWysiwyg content!");
							}
						}
					}
				});
				
			});
		</script>
		
		<!-- Wysihtml5 -->
		<script src="../src/web/static/js/plugins/wysihtml5/wysihtml5-0.3.0.js"></script>
		<script src="../src/web/static/js/plugins/wysihtml5/bootstrap-wysihtml5.js"></script>
		
		<script>
			$(document).ready(function() {
				
				$('.wysihtml5').wysihtml5();
				
			});
		</script>
		
		<!-- Colorpicker -->
		<script src="../src/web/static/js/plugins/colorpicker/bootstrap-colorpicker.js"></script>
		
		<script>
			$(document).ready(function() {
				
				var preview = $('.colorpicker-preview')[0].style;
				$('.colorpicker').colorpicker().on('changeColor', function(ev){
					preview.backgroundColor = ev.color.toHex();
				});
				
			});
		</script>
		
		<!-- Colorpicker -->
		<script src="../src/web/static/js/plugins/datepicker/bootstrap-datepicker.js"></script>
		
		<script>
			$(document).ready(function() {
				
				$('.datepicker').datepicker();
				
			});
		</script>
		
	</body>
</html>
