<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Create Account | Bootstrap Admin Template</title>
		<meta name="description" content="">|
		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- CSS styles -->
		<link rel='stylesheet' type='text/css' href='css/ciberonline-red.css'>
		
		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="img/icons/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="img/icons/apple-touch-icon-57-precomposed.png">
		
		<!-- JS Libs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/libs/jquery.js"><\/script>')</script>
		<script src="js/libs/modernizr.js"></script>
		<script src="js/libs/selectivizr.js"></script>
		
		<script>
			$(document).ready(function(){
				
				// Tooltips
				$('[title]').tooltip({
					placement: 'top'
				});
				
			});
		</script>
	</head>
	<body>
		
		<!-- Main page container -->
		<section class="container login" role="main">
			
			<h1 class="brand"><strong>Create account</strong></h1>
			<div class="data-block">
				<form method="post" action="index.html">
					<fieldset>
						<!-- first name -->
						<div class="control-group"> 
							<label class="control-label" for="first">First Name</label> 
							<div class="controls">
								<input id="firstname" type="text" placeholder="your first name" name="name">
							</div>
						</div>

						<!-- last name -->
						<div class="control-group">
							<label class="control-label" for="last">Last name</label>
							<div class="controls">
								<input id="lastname" type="text" placeholder="your last name" name="name">
							</div>
						</div>

						<!-- last name -->
						<div class="control-group">
							<label class="control-label" for="email"> Email </label>
							<div class="controls">
								<input id="email" type="text" placeholder="email address" name="email">
							</div>
						</div>
						
						<!-- password -->
						<div class="control-group">
							<label class="control-label" for="password"> Password </label>
							<div class="controls">
								<input id="password" type="password" placeholder="password" name="password">
							</div>
						</div>

						<!-- Instituição de ensino -->
						<div class="control-group">
							<label class="control-label" for="education"> Educational Institution </label>
							<div class="controls">
								<input id="educational" type="text" placeholder="your educational institution" name="institution">
							</div>
						</div>
						<!-- <div class="control-group">
							<label class="control-label" for="select">Educacional Institution</label>
							<div class="controls">
								<select id="select">
									<option>Universidade de Aveiro</option>
									<option>Universidade de Coimbra</option>
									<option>Intituto Politécnico de Leiria</option>
									<option>Universidade do Minho</option>
									<option>Universidade de Trás-os-Montes e Alto Douro</option>
									<option>Universidade da Beira Interior</option>
								</select>
							</div>
						</div> -->

						<div class="form-actions">
							<button class="btn btn-large btn-inverse btn-alt" type="submit"><span class="awe-signin"></span> Finish</button>
						</div>

						<div class="form-actions">
							<a class="btn btn-large btn-inverse btn-alt" href="login.html"><span class="awe-signin"></span> Back </a>
						</div>	 	
					</fieldset>
				</form>
			</div>
		</section>
		<!-- /Main page container -->
		
		<!-- Scripts -->
		<script src="js/bootstrap/bootstrap-tooltip.js"></script>
		
	</body>
</html>
