<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Main Page | Bootstrap Admin Template</title>
		<meta name="description" content="">
		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- jQuery Visualize Styles -->
		<link rel='stylesheet' type='text/css' href='../src/web/static/stylesheets/plugins/jquery.visualize.css'>
		
		<!-- jQuery jGrowl Styles -->
		<link rel='stylesheet' type='text/css' href='../src/web/static/stylesheets/plugins/jquery.jgrowl.css'>

		<!-- jQuery plUpload -->
		<link rel="stylesheet" href="../src/web/static/stylesheets/plugins/jquery.plupload.queue.css">
		<link rel="stylesheet" href="../src/web/static/stylesheets/plugins/jquery.ui.plupload.css">
		
		<!-- CSS styles -->
		<link rel='stylesheet' type='text/css' href='../src/web/static/stylesheets/ciberonline-red.css'>
		
		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="../src/web/static/img/icons/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../src/web/static/img/icons/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../src/web/static/img/icons/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="../src/web/static/img/icons/apple-touch-icon-57-precomposed.png">
		
		<!-- JS Libs -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../src/web/static/js/libs/jquery.js"><\/script>')</script>
		<script src="../src/web/static/js/libs/modernizr.js"></script>
		<script src="../src/web/static/js/libs/selectivizr.js"></script>
		
		<script>
			$(document).ready(function(){
				
				// Tooltips
				$('[title]').tooltip({
					placement: 'top'
				});
				
			});
		</script>
	</head>
	<body>
		
		<!-- Main page header -->
		<header class="container">
		
			<!-- Main page logo -->
			<h1><a href="login.html" class="brand">Ciber</a></h1>
			
			
			<!-- Alternative navigation -->
			<nav>
				<ul>
					<li><a href="admin/index.html" style="color: #e74949">Administration</a></li>
					<li><a href="login.html">Universidade de Aveiro</a></li>
					<li><a href="login.html">Ciber Rato</a></li>
				</ul>
			</nav>
			<!-- /Alternative navigation -->
			
		</header>
		<!-- /Main page header -->
	
		<!-- Main page container -->
		<section class="container" role="main">
		
			<!-- Left (navigation) side -->
			<div class="navigation-block">
				
				<section class="user-profile">
					<figure>
						<img alt="John Pixel avatar" src="http://www.gravatar.com/avatar/306e22d51e339755ae9ff3daf0e9858e?s=60">
						<figcaption>
							<strong><a href="#" class="">Gabriel Vieira</a></strong>
							<em>Universidade de Aveiro</em>
							<ul>
								<li><a class="btn btn-primary btn-flat" href="#" title="Account settings">Logout</a></li>
							</ul>
						</figcaption>
					</figure>
				</section>

				<nav class="main-navigation" role="navigation">
					<ul>

						<li>
							<a href="index.html"><span class="awe-home"></span><strong>Home Page</strong></a>
						</li>
						<li>
							<a href="#"><span class="awe-user"></span><strong>User Management</strong></a>
							<ul>
								<li><a href="changePass.html">Change Password</a></li>
								<li><a href="editProfile.html">Edit Profile</a></li>
							</ul>
						</li>
						<li>
							<a href="#"><span class="awe-group"></span><strong>Team Management</strong></a>
							<ul>
								<li><a href="myteams.html">My Teams</a></li>
								<li><a href="createTeam.html">Create Team</a></li>
								<li><a href="seeGroups.html">All Teams</a></li>
							</ul>
						</li>

						<li>
							<a href="#"><span class="awe-trophy"></span><strong>Competition</strong></a>
							<ul>
								<li><a href="SubmeterCodigo.html">Submit</a></li>
								<li><a href="#">Join competition</a></li>

								<li><a href="seelogs.html">See logs</a></li>
								<li><a href="#">Past Competitions</a></li>
								<li><a href="#">My teams submissions</a></li>
								<li><a href="currentCompetition.html">Current competition</a></li>
							</ul>
						</li>
					</ul>
					
				</nav>
				<!-- /Main navigation -->
				
				<!-- Sample side note -->
				<section class="side-note">
					<div class="side-note-container">
						<h2>Sample Side Note</h2>
						<p>This project was developed by a group students of the University of Aveiro.</p>
					</div>
					<div class="side-note-bottom"></div>
				</section>
				<!-- /Sample side note -->
			</div>
			<!-- Left (navigation) side -->
			
			<!-- Right (content) side -->
			<div class="content-block" role="main">
			
				<!-- Page header -->
				<article class="page-header">
					<h1>Consult logs</h1>
					<p>Here you can consult your logs did at the moment. You can click on the icons and download your submissions, and 
						take a look to your code and edit him.</p>
				</article>
				<!-- /Page header -->
				
				<!-- Grid row -->
				<div class="row">
				
					<!-- Data block -->
					<article class="span12 data-block">
						<div class="data-container">
							<header>
								<h2>Upload your code</h2>
							</header>
							<section>
								<p>Upload your file code here! Select <strong>Add files</strong> and next choose the file through your browse.</p>
								<p> When the file code is choosen, then upload him clicking on button <strong>Start upload</strong> and after these you can see your file code in the square above, allowing to you to download if you want to see him.
								<div class="plupload"></div>
							</section>
						</div>

						<footer class="info">
							<p>If you want to cancel this operation, please click on "Back".</p>

						</footer>
						
					</article>


					<div class="form-actions">
						<a class="btn btn-large btn-inverse btn-alt" href="index.html"><span class="pull-left"> </span> Back </a>
					</div>		
					<!-- /Data block -->
					
				</div>
				<!-- /Grid row -->
				
			</div>
			<!-- /Right (content) side -->
			
		</section>
		<!-- /Main page container -->
		
		<!-- Main page footer -->
		<footer class="container">
			<p>Built with love on <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> by <a href="http://www.ciberonline.com">CiberOnline</a>.</p>
			<ul>
				<li><a href="#" class="">Support</a></li>
				<li><a href="#" class="">Documentation</a></li>
				<li><a href="#" class="">API</a></li>
			</ul>
			<a href="#top" class="btn btn-primary btn-flat pull-right">Top &uarr;</a>
		</footer>
		<!-- /Main page footer -->
		
		<!-- Scripts -->
		<script src="../src/web/static/js/navigation.js"></script>
		<script src="../src/web/static/js/bootstrap/bootstrap-affix.js"></script>
		<script src="../src/web/static/js/bootstrap/bootstrap-tooltip.js"></script>
		
		<!-- jQuery plUpload -->
		<script src="../src/web/static/js/plugins/plUpload/plupload.full.js"></script>
		<script src="../src/web/static/js/plugins/plUpload/jquery.plupload.queue/jquery.plupload.queue.js"></script>
		<script>
			$(document).ready(function() {
				
				$('.plupload').pluploadQueue({
					runtimes : 'html5,gears,flash,silverlight,browserplus',
					url : 'upload/upload.php',
					max_file_size : '10mb',
					chunk_size : '1mb',
					unique_names : true,
					resize : {width : 320, height : 240, quality : 90},
					filters : [
						{title : "Image files", extensions : "jpg,gif,png"},
						{title : "Zip files", extensions : "zip"}
					],
					flash_swf_url : 'js/plugins/plUpload/plupload.flash.swf',
					silverlight_xap_url : 'js/plugins/plUpload/plupload.silverlight.xap'
				});
				$(".plupload_header").remove();
				$(".plupload_progress_container").addClass("progress").addClass('progress-striped');
				$(".plupload_progress_bar").addClass("bar");
				$(".plupload_button").each(function(e){
					if($(this).hasClass("plupload_add")){
						$(this).attr("class", 'btn btn-primary btn-alt pl_add btn-small');
					} else {
						$(this).attr("class", 'btn btn-success btn-alt pl_start btn-small');
					}
				});
				
			});
		</script>
		
	</body>
</html>
