<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Main Page | Bootstrap Admin Template</title>
    <meta name="description" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery Visualize Styles -->
    <link rel='stylesheet' type='text/css' href='css/plugins/jquery.visualize.css'>

    <!-- jQuery jGrowl Styles -->
    <link rel='stylesheet' type='text/css' href='css/plugins/jquery.jgrowl.css'>
    <link type="text/css" rel="stylesheet" href="css/jquery.nstSlider.css">

    <!-- CSS styles -->
    <link rel='stylesheet' type='text/css' href='css/ciberonline-red.css'>

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="img/icons/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/icons/apple-touch-icon-57-precomposed.png">

    <!-- JS Libs -->
    <script>window.jQuery || document.write('<script src="js/libs/jquery.js"><\/script>')</script>
    <script src="js/libs/modernizr.js"></script>
    <script src="js/libs/selectivizr.js"></script>

    <script data-require="angular.js@1.2.x" src="autocarro/angular.js" data-semver="1.2.7"></script>
    <script type='text/javascript' src='autocarro/jquery-git.js'></script>
    <script type='text/javascript' src="autocarro/xml2json.js"></script>
    <script src ="js/viewer.js"></script>

    <script>
        $(document).ready(function(){

            // Tooltips
            $('[title]').tooltip({
                placement: 'top'
            });

        });
    </script>
</head>
<body>

<!-- Main page header -->
<header class="container">

    <!-- Main page logo -->
    <h1><a href="login.html" class="brand">Ciber</a></h1>

    <!-- Alternative navigation -->
    <nav>
        <ul>
            <li><a href="admin/index.html" style="color: #e74949">Administration</a></li>
            <li><a href="login.html">Universidade de Aveiro</a></li>
            <li><a href="login.html">Ciber Rato</a></li>
        </ul>
    </nav>
    <!-- /Alternative navigation -->

</header>
<!-- /Main page header -->

<!-- Main page container -->
<section class="container" role="main">

    <!-- Left (navigation) side -->
    <div class="navigation-block">

        <!-- User profile -->
        <section class="user-profile">
            <figure>
                <img alt="Gravatar" src="http://www.gravatar.com/avatar/8a3b221d39c8f6538d27c03078ae8f29.png">
                <figcaption>
                    <strong><a href="#" class="">Bernardo Ferreira</a></strong>
                    <em>Universidade de Aveiro</em>
                    <ul>
                        <li><a class="btn btn-primary btn-flat" href="#" title="Account settings">Logout</a></li>
                    </ul>
                </figcaption>
            </figure>
        </section>
        <!-- /User profile -->

        <!-- Main navigation -->
        <nav class="main-navigation" role="navigation">
            <ul>

                <li>
                    <a href="index.html"><span class="awe-home"></span><strong>Home Page</strong></a>
                </li>
                <li>
                    <a href="#"><span class="awe-user"></span><strong>User Management</strong></a>
                    <ul>
                        <li><a href="changePass.html">Change Password</a></li>
                        <li><a href="editProfile.html">Edit Profile</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="awe-group"></span><strong>Team Management</strong></a>
                    <ul>
                        <li><a href="myteams.html">My Teams</a></li>
                        <li><a href="createTeam.html">Create Team</a></li>
                        <li><a href="seeGroups.html">All Teams</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"><span class="awe-trophy"></span><strong>Competition</strong></a>
                    <ul>
                        <li><a href="SubmeterCodigo.html">Submit</a></li>
                        <li><a href="#">Join competition</a></li>

                        <li><a href="seelogs.html">See logs</a></li>
                        <li><a href="#">Past Competitions</a></li>
                        <li><a href="#">My teams submissions</a></li>
                        <li><a href="currentCompetition.html">Current competition</a></li>
                    </ul>
                </li>
            </ul>

        </nav>
        <!-- /Main navigation -->

        <!-- Sample side note -->

            <div class="row">
                <article class="span3 data-block">

                    <div class="data-container">
                        <header>
                            <h2>Help</h2>
                        </header>
                        <div class="row">
                            <ul>
                                <li>You can play, pause or stop the viewer as well as chose the velocity of the simulation.</li>
                                <li>Use <i>space</i> key to play or pause simulation and the <i>Left</i> and <i>Right</i> keys to go forward or backward in the timeline.</li>
                                <li>You can choose to show or hide the visited points line of each robot.</li>
                                <li>The sensors data is only available when the viewer is paused or in the lowest velocity.</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>

        <!-- /Sample side note -->
    </div>
    <!-- Left (navigation) side -->

    <!-- Right (content) side -->
    <div class="content-block" role="main" ng-controller="ctrl">

        <!-- Page header -->
        <h1 id="row5" style="display: none">WebViewer</h1>
        <!-- /Page header -->

        <div class="row" id="waitawhile">

            <!-- Data block -->
            <article class="span12 data-block">
                <div class="data-container">
                    <header>
                        <h2>Wait a while...</h2>
                    </header>
                    <section>
                        <div class="row">
                            <div class="span12" style="text-align: center">
                                <span class="loading blue" data-original-title="Loading, please wait…">Loading…</span>
                            </div>
                        </div>
                    </section>
                </div>
            </article>
            <!-- /Data block -->

        </div>

        <!-- Grid row -->
        <div class="row" id="row1" style="display: none">
            <article class="span12 data-block">
                <div class="data-container">
                    <section>
                        <div class="row">
                            <div class="span12 viewer" style="text-align: center; vertical-align: middle">
                                <svg  ng-attr-width="{{map._Width*zoom}}" ng-attr-height="{{map._Height*zoom}}" style="background-color: {{groundColor}}" >
                                    <g ng-attr-transform="translate(0,{{map._Height*zoom}})">
                                        <g transform="scale(1,-1)">
                                            <g><rect ng-attr-width="{{map._Width*zoom}}" ng-attr-height="{{map._Height*zoom}}" style="fill:blue;stroke:grey;stroke-width:2;fill-opacity:0.0" />
                                                <g ng-repeat="(key, value) in map">

                                                    <g ng-if="key == 'Wall'" ng-repeat="(k, v) in value track by $index">
                                                        <!-- Parede grande - original verde-->
                                                        <polygon ng-if="v._Height>=beacon_height" ng-attr-points="{{v.str}}" style=" fill:{{greatWallColor}}" />
                                                        <!-- Parede grande - original azul-->
                                                        <polygon ng-if="v._Height<beacon_height" ng-attr-points="{{v.str}}" style=" fill:{{smallWallColor}}" />
                                                    </g>
                                                </g>

                                                <g ng-if="param._NBeacons != 1" ng-repeat="(i,o) in beacon track by $index">
                                                    <circle ng-attr-cx="{{o._X*zoom}}" ng-attr-cy="{{o._Y*zoom}}" ng-attr-r="{{zoom}}" stroke="{{circleBorder}}" stroke-width="2" />
                                                    <image ng-attr-x="{{o._X*zoom-zoom}}" ng-attr-y="{{o._Y*zoom-zoom}}" ng-attr-width="{{zoom*2}}" ng-attr-height="{{zoom*2}}" xlink:href="{{cheeseColor}}" />
                                                </g>
                                                <g ng-if="param._NBeacons == 1">
                                                    <circle ng-attr-cx="{{beacon._X*zoom}}" ng-attr-cy="{{beacon._Y*zoom}}" ng-attr-r="{{zoom}}" stroke="{{circleBorder}}" stroke-width="2" />
                                                    <image ng-attr-x="{{beacon._X*zoom-zoom}}" ng-attr-y="{{beacon._Y*zoom-zoom}}" ng-attr-width="{{zoom*2}}" ng-attr-height="{{zoom*2}}" xlink:href="{{cheeseColor}}" />
                                                </g>


                                                <g ng-repeat="(key, value) in grid">
                                                    <g ng-if="key == 'Position'" ng-repeat="(k, v) in value track by $index">
                                                        <circle ng-attr-cx="{{v._X*zoom}}" ng-attr-cy="{{v._Y*zoom}}" ng-attr-r="{{zoom/2}}" stroke="{{circleBorder}}" stroke-width="2" style=" fill:{{gridColor}}" />
                                                    </g>
                                                </g>

                                                <g ng-repeat="value in robot">
                                                    <polyline ng-show="{{slyne[$index]}}" ng-attr-points="{{pline[$index]}}" style="fill:none;stroke:{{lineColor[$index]}} ;stroke-width:3" />
                                                    <image ng-if="value.Scores._Collision=='False'" ng-attr-x="{{value.Pos._X*zoom-zoom/2}}" ng-attr-y="{{value.Pos._Y*zoom-zoom/2}}" ng-attr-width="{{zoom}}" ng-attr-height="{{zoom}}" xlink:href="{{robotColor[$index]}}"  ng-attr-transform="rotate({{dir[$index]}},{{value.Pos._X*zoom}},{{value.Pos._Y*zoom}})" />
                                                    <image ng-if="value.Scores._Collision=='True'" ng-attr-x="{{value.Pos._X*zoom-zoom/2}}" ng-attr-y="{{value.Pos._Y*zoom-zoom/2}}" ng-attr-width="{{zoom}}" ng-attr-height="{{zoom}}" xlink:href="img/svg/mickey_black_smile.svg"  ng-attr-transform="rotate({{dir[$index]}},{{value.Pos._X*zoom}},{{value.Pos._Y*zoom}})" />
                                                    <circle  ng-attr-cx="{{value.Pos._X*zoom}}" ng-attr-cy="{{value.Pos._Y*zoom}}" ng-attr-r="{{zoom/2-0.5}}" fill-opacity=0.0 stroke="{{circleBorder}}" stroke-width="1" />

                                                     <!--No caso das imagens svg inseridas, tem de se retirar á coordenada x e y da imagem, metade do valor da width e height-->
                                                </g>

                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <div class="nstSlider" data-range_min="0" data-range_max="{{param._SimTime}}"
                                     data-cur_min="0" style="width: {{map._Width*zoom}}px; margin-left: 20px; margin-top: -5px">
                                    <div class="leftGrip"></div>
                                </div>

                                <div class="row" >
                                    <div class ="span3" style="text-align: left;margin-left: 20px; margin-top: 5px">
                                        <div class="btn-group" data-toggle="buttons-checkbox">
                                            <button class="btn btn-success" id="play"><span class="awe-play"></span></button>
                                            <button class="btn btn-danger" id="pause" disabled="true"><span class="awe-pause"></span></button>
                                            <button class="btn btn-info" id="stop" disabled="true"><span class="awe-stop"></span></button>
                                        </div>
                                    </div>
                                    <div class="span3" style="margin-top: 5px">

                                    </div>

                                    <div class="span2" style="text-align: right; margin-top: 5px; margin-left: 57px">
                                        <select id="mazeColor" class="span2">
                                            <option value="1">Standard</option>
                                            <option value="2">Black&White</option>
                                        </select>
                                    </div>
                                    <div class="span3" style="text-align: right; margin-top: 5px">
                                        <div class="btn-group" data-toggle="buttons-checkbox">
                                            <button ng-disabled="velButton=='18x'" class="btn" ng-click="activeV('18x')">1/8x</button>
                                            <button ng-disabled="velButton=='14x'" class="btn" ng-click="activeV('14x')">1/4x</button>
                                            <button ng-disabled="velButton=='1x'" class="btn" ng-click="activeV('1x')">1x</button>
                                            <button ng-disabled="velButton=='2x'" class="btn" ng-click="activeV('2x')">2x</button>
                                            <button ng-disabled="velButton=='4x'" class="btn" ng-click="activeV('4x')">4x</button>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>


                    </section>
                </div>
            </article>

        </div>
        <!-- /Grid row -->
        <div class="row"  id="row2" style="display: none">
            <article class="span4 data-block">
                <div class="data-container">
                    <section class="viewer">
                        <div class="row-fluid demo">
                            <div class="span4">Name</div>
                            <div class="span4">Position</div>
                            <div class="span4">Line</div>

                        </div>
                        <div ng-repeat="value in robot track by $index" class="row-fluid" style="text-align: center">
                            <div class="span4 viewer"><h2>{{value._Name}}</h2></div>
                            <div class="span4 viewer"><img src="{{robotColor[$index]}}" width="35" height="35"></div>
                            <button ng-click="toggle([$index])" ng-class="bclass[$index]" >{{toggleText[$index]}}</button>

                        </div>

                    </section>
                </div>
            </article>
            <!-- Data block -->
            <article class="span8 data-block">
                <div class="data-container">
                    <section class="viewer">
                        <div class="row-fluid demo">
                            <div class="span2">Time</div>
                            <div class="span2">Collisions</div>
                            <div class="span2">State</div>
                            <div class="span2">Score</div>
                            <div class="span2">Retur. Time</div>
                            <div class="span2">Remaining</div>

                        </div>
                        <div ng-repeat="value in robot track by $index" class="row-fluid" style="text-align: center">
                            <div class="span2 viewer"><h2>{{time}}</h2></div>
                            <div class="span2 viewer"><h2>{{value.Scores._Collisions}}</h2></div>
                            <div class="span2 viewer"><h2>{{value._State}}</h2></div>
                            <div class="span2 viewer"><h2>{{value.Scores._Score}}</h2></div>
                            <div class="span2 viewer"><h2>{{value.Scores._ReturningTime}}</h2></div>
                            <div class="span2 viewer"><h2>{{param._SimTime-time}}</h2></div>
                        </div>


                    </section>
                </div>
            </article>
        </div>
        <!-- Grid row -->

        <div class="row"  id="row3" style="display: none">
            <article class="span12 data-block accordion-block decent">
                <div class="data-container">
                    <div class="accordion">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" href="#sotable" data-parent="#icons" data-toggle="collapse"><h2>Sensors Data</h2></a>
                            </div>
                            <div id="sotable" class="accordion-body collapse">
                                <div class="row" >
                                    <div ng-if="playvar == 1 && slow == 0" style="text-align: center"><h3>Only available when the viewer is paused or in the lowest velocity </h3> </div>
                                    <table ng-if="playvar == 0 || slow == 1" id="scoretable" class="table table-striped table-bordered table-condensed table-hover" >
                                        <colgroup>
                                            <col style="width: 15%" />
                                            <col style="width: 17%" />
                                            <col style="width: 17%" />
                                            <col style="width: 17%" />
                                            <col style="width: 17%" />
                                            <col style="width: 17%" />
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th ng-repeat="value in robot track by $index" style="text-align: center">{{value._Id}} - {{value._Name}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <!-- Position(x,y) -->
                                            <tr ng-if="robot[0].Pos">
                                                <th>Position(x,y)</th>
                                                <td ng-repeat="value in robot track by $index" style="text-align: center">({{value.Pos._X | number:2}}, {{value.Pos._Y | number:2}})</td>
                                            </tr>

                                            <!-- Direction -->
                                            <tr ng-if="robot[0].Pos">
                                                <th>Direction</th>
                                                <td ng-repeat="value in robot track by $index" style="text-align: center">{{value.Pos._Dir | number:2}}</td>
                                            </tr>

                                            <!-- Compass -->
                                            <tr ng-if="robot[0].Measures.Sensors.hasOwnProperty('_Compass')">
                                                <th>Compass</th>
                                                <td ng-repeat="value in robot track by $index" style="text-align: center">{{value.Measures.Sensors._Compass}}</td>
                                            </tr>

                                            <!-- Left Motor -->
                                            <tr ng-if="robot[0].Action.hasOwnProperty('_LeftMotor')">
                                                <th>Left Motor</th>
                                                <td ng-repeat="value in robot track by $index" style="text-align: center">{{value.Action._LeftMotor}}</td>
                                            </tr>

                                            <!-- Right Motor -->
                                            <tr ng-if="robot[0].Action.hasOwnProperty('_RightMotor')">
                                                <th>Right Motor</th>
                                                <td ng-repeat="value in robot track by $index" style="text-align: center">{{value.Action._RightMotor}}</td>
                                            </tr>

                                            <!-- Collision -->
                                            <tr ng-if="robot[0].Measures.Sensors.hasOwnProperty('_Collision')">
                                                <th>Collision</th>
                                                <td ng-repeat="value in robot track by $index" style="text-align: center">{{value.Measures.Sensors._Collision}}</td>
                                            </tr>

                                            <!-- Ground -->
                                            <tr ng="robot[0].Measures.Sensors.hasOwnProperty('_Ground')">
                                                <th>Ground</th>
                                                <td ng-repeat="value in robot track by $index" style="text-align: center">{{value.Measures.Sensors._Ground}}</td>
                                            </tr>

                                            <!-- IRSensors -->
                                            <tr ng-if="robot[0].Measures.Sensors.IRSensor" ng-repeat="(idx, ir) in robot[0].Measures.Sensors.IRSensor">
                                                <th>IRSensor {{robot[0].Measures.Sensors.IRSensor[idx]._Id}}</th>
                                                <td ng-repeat="value in robot" style="text-align: center">{{value.Measures.Sensors.IRSensor[idx]._Value}}</td>
                                            </tr>

                                            <!-- GPS(x,y) -->
                                            <tr ng-if="robot[0].Measures.Sensors.GPS">
                                                <th>GPS(x,y)</th>
                                                <td ng-repeat="value in robot track by $index" style="text-align: center">({{value.Measures.Sensors.GPS._X}}, {{value.Measures.Sensors.GPS._Y}})</td>
                                            </tr>

                                            <!-- End Led -->
                                            <tr>
                                                <th>End Led</th>
                                                <td ng-repeat="value in robot track by $index" style="text-align: center">
                                                    <span ng-if="value.Measures.Leds._EndLed=='Off'" class="label label-important">OFF</span>
                                                    <span ng-if="value.Measures.Leds._EndLed=='On'" class="label label-success">ON</span>
                                                </td>
                                            </tr>

                                            <!-- Returning Led -->
                                            <tr>
                                                <th>Returning Led</th>
                                                <td ng-repeat="value in robot track by $index" style="text-align: center">
                                                    <span ng-if="value.Measures.Leds._ReturningLed=='Off'" class="label label-important">OFF</span>
                                                    <span ng-if="value.Measures.Leds._ReturningLed=='On'" class="label label-success">ON</span>
                                                </td>
                                            </tr>

                                            <!-- Visiting Led -->
                                            <tr>
                                                <th>Visiting Led</th>
                                                <td ng-repeat="value in robot track by $index" style="text-align: center">
                                                    <span ng-if="value.Measures.Leds._VisitingLed=='Off'" class="label label-important">OFF</span>
                                                    <span ng-if="value.Measures.Leds._VisitingLed=='On'" class="label label-success">ON</span>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div ng-if="playvar == 0 || slow == 1" class="row" >
                                        <div class ="span3" style="text-align: left;margin-left: 20px; margin-top: 5px">
                                            <h3>Arrow Keys Increments:</h3>
                                        </div>
                                        <div class="span3" style="text-align: right; margin-top: 5px">
                                            <select id="increments" class="span2">
                                                <option value="1">1</option>
                                                <option value="2">10</option>
                                                <option value="3">100</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <!-- /Grid row -->
    </div>
</section>
<!-- /Main page container -->

<!-- Main page footer -->
<footer class="container">
    <p>Built with love on <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> by <a href="http://www.ciberonline.com">CiberOnline</a>.</p>
    <ul>
        <li><a href="#" class="">Support</a></li>
        <li><a href="#" class="">Documentation</a></li>
        <li><a href="#" class="">API</a></li>
    </ul>
    <a href="#top" class="btn btn-primary btn-flat pull-right">Top &uarr;</a>
</footer>
<!-- /Main page footer -->

<!-- Scripts -->
<script src="js/navigation.js"></script>
<script src="js/bootstrap/bootstrap-affix.js"></script>
<script src="js/bootstrap/bootstrap-alert.js"></script>
<script src="js/bootstrap/bootstrap-tooltip.js"></script>
<script src="js/bootstrap/bootstrap-dropdown.js"></script>
<script src="js/bootstrap/bootstrap-tab.js"></script>
<script src="js/bootstrap/bootstrap-collapse.js"></script>
<script src="js/bootstrap/bootstrap-fileupload.js"></script>
<script src="js/bootstrap/bootstrap-inputmask.js"></script>
<script src="js/jquery.nstSlider.js"></script>


<script>
    $("#play").click(function() {
        angular.element('[ng-controller=ctrl]').scope().play();
        $(this).attr("disabled", true);
        $("#pause").removeAttr("disabled");
        $("#stop").removeAttr("disabled");
        return false;
    });
    $("#pause").click(function() {
        angular.element('[ng-controller=ctrl]').scope().pause();
        $(this).attr("disabled", true);
        $("#play").removeAttr("disabled");
        $("#stop").removeAttr("disabled");
        return false;
    });
    $("#stop").click(function() {
        angular.element('[ng-controller=ctrl]').scope().stop();
        $(this).attr("disabled", true);
        $("#pause").attr("disabled", true);
        $("#play").removeAttr("disabled");
        return false;
    });
</script>

<script>
    $(window).keypress(function(e) {
        if (e.keyCode == 32 && angular.element('[ng-controller=ctrl]').scope().playvar==1) {
            angular.element('[ng-controller=ctrl]').scope().pause();
            $("#pause").attr("disabled", true);
            $("#play").removeAttr("disabled");
            $("#stop").removeAttr("disabled");
            return false;
        }
        else if (e.keyCode == 32 && angular.element('[ng-controller=ctrl]').scope().playvar==0) {
            angular.element('[ng-controller=ctrl]').scope().play();
            $("#play").attr("disabled", true);
            $("#pause").removeAttr("disabled");
            $("#stop").removeAttr("disabled");
            return false;
        }
    });
</script>

<script>
    $(document).keydown(function(e) {
        switch(e.which) {
            case 37: // left
                angular.element('[ng-controller=ctrl]').scope().idx-=angular.element('[ng-controller=ctrl]').scope().increments;
                break;

            case 38: // up
                break;

            case 39: // right
                angular.element('[ng-controller=ctrl]').scope().idx+=angular.element('[ng-controller=ctrl]').scope().increments;
                break;

            case 40: // down
                break;

            default: return; // exit this handler for other keys
        }
        e.preventDefault(); // prevent the default action (scroll / move caret)
    });

</script>

<script>
    $("#mazeColor").change(function() {
        angular.element('[ng-controller=ctrl]').scope().setMazeColor($( "#mazeColor" ).val());
        return false;
    });

</script>
<script>
    $("#increments").change(function() {
        angular.element('[ng-controller=ctrl]').scope().setIncrements($("#increments").val());
        return false;
    });

</script>

<!-- jQuery TagsInput -->
<script src="js/plugins/tagsInput/jquery.tagsinput.min.js"></script>

<script>
    $(document).ready(function() {

        $('.tagsinput').tagsInput();

    });
</script>

<!-- jQuery jWYSIWYG -->
<script src="js/plugins/jWYSIWYG/jquery.wysiwyg.js"></script>

<script>
    $(document).ready(function() {

        $('.wysiwyg').wysiwyg({
            controls: {
                bold          : { visible : true },
                italic        : { visible : true },
                underline     : { visible : true },
                strikeThrough : { visible : true },

                justifyLeft   : { visible : true },
                justifyCenter : { visible : true },
                justifyRight  : { visible : true },
                justifyFull   : { visible : true },

                indent  : { visible : true },
                outdent : { visible : true },

                subscript   : { visible : true },
                superscript : { visible : true },

                undo : { visible : true },
                redo : { visible : true },

                insertOrderedList    : { visible : true },
                insertUnorderedList  : { visible : true },
                insertHorizontalRule : { visible : true },

                cut   : { visible : true },
                copy  : { visible : true },
                paste : { visible : true }
            },
            events: {
                click: function(event) {
                    if ($("#click-inform:checked").length > 0) {
                        event.preventDefault();
                        alert("You have clicked jWysiwyg content!");
                    }
                }
            }
        });

    });
</script>

<!-- Wysihtml5 -->
<script src="js/plugins/wysihtml5/wysihtml5-0.3.0.js"></script>
<script src="js/plugins/wysihtml5/bootstrap-wysihtml5.js"></script>

<script>
    $(document).ready(function() {

        $('.wysihtml5').wysihtml5();

    });
</script>

<!-- Colorpicker -->
<script src="js/plugins/colorpicker/bootstrap-colorpicker.js"></script>

<script>
    $(document).ready(function() {

        var preview = $('.colorpicker-preview')[0].style;
        $('.colorpicker').colorpicker().on('changeColor', function(ev){
            preview.backgroundColor = ev.color.toHex();
        });

    });
</script>

<!-- Colorpicker -->
<script src="js/plugins/datepicker/bootstrap-datepicker.js"></script>

<script>
    $(document).ready(function() {

        $('.datepicker').datepicker();

    });
</script>

</body>
</html>
