{% load compress %}
{% load staticfiles %}
{% load swampdragon_tags %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery.browser/test/src/jquery.browser.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap-tooltip.js' %}"></script>


<script type="text/javascript" src="{% static 'js/plugins/jGrowl/jquery.jgrowl.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/ciberonline.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/ciberonline.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/ciberonline.routes.js' %}"></script>

<script type="text/javascript" src="{% static 'js/libs/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/selectivizr.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/logout.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/profile/profile.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profile/services/profile.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profile/controllers/profile.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/teams/teams.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/teams/services/teams.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/teams/controllers/createTeam.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/teams/controllers/allteams.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/teams/controllers/myteams.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/teams/controllers/team.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/teams/controllers/editTeam.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/teams/controllers/memberProfile.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/teams/controllers/allTeamsMembers.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/search/search.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/search/controllers/search.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/competitions/competitions.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/competitions/services/competitions.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/competitions/controllers/allCompetitions.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/competitions/controllers/detailCompetition.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/competitions/controllers/myCompetitions.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/competitions/controllers/alltogetherCompetitions.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/competitions/controllers/createTypeOfCompetition.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/competitions/controllers/allTypesOfCompetition.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/competitions/controllers/scores.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/grid/grid.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/grid/services/grid.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/grid/controllers/createGrid.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/grid/controllers/myGrids.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/agents/agents.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/agents/services/agents.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/agents/controllers/createAgent.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/agents/controllers/myAgents.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/agents/controllers/agentDetail.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/rounds/rounds.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/rounds/services/rounds.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/rounds/controllers/roundDetail.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/rounds/controllers/createRound.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/soloTrials/soloTrials.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/soloTrials/services/soloTrials.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/soloTrials/controllers/soloByTeam.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-drag-and-drop-lists.min.js' %}"></script>

<!-- Swamp dragon -->
{% swampdragon_settings %}
<script type="text/javascript" src="{% static 'js/swampdragon/js/dist/swampdragon.js' %}"></script>
<script type="text/javascript" src="{% static 'js/swampdragon/js/dist/datamapper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/swampdragon/js/angular/services.js' %}"></script>

<!-- log viewer -->
<script type='text/javascript' src="{% static 'bower_components/xml2json.js' %}"></script>
<script type='text/javascript' src="{% static 'js/jquery.nstSlider.js' %}"></script>
<script type='text/javascript' src="{% static 'js/js-unzip.js' %}"></script>
<script type="text/javascript" src ="{% static 'js/viewer/logviewer_jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/logviewer/logviewer.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/logviewer/services/logviewer.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/logviewer/controllers/log.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/streamviewer/streamviewer.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/streamviewer/services/streamviewer.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/streamviewer/controllers/stream.controller.js' %}"></script>


<script type="text/javascript">
    $(document).ready(function(){

        $.jGrowl("Welcome to CiberRato!", {
            theme: 'jGrowl-notification ui-state-highlight ui-corner-all success'
        });

    });

</script>


{% endcompress %}