{% load compress %}
{% load staticfiles %}

{% compress css %}
<!-- CSS styles -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/ciberonline-red.css' %}">

<link rel='stylesheet' type='text/css' href="{% static 'stylesheets/plugins/jquery.jgrowl.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'stylesheets/jquery.nstSlider.css' %}">

<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
{% endcompress %}