<div class="content-block" role="main">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">
                        <h2>List of Teams to Create Solo Trials</h2>
                        <p ng-if="vm.solos.length == 0">You don't have solo trial created.</p>
                        <div ng-if="vm.solos.length == 0" class="alert alert-info" style="margin-top: 20px">
                            <strong>What is a Solo Trial?</strong> When you create a Team, a private competition is automatically created for that team. A private competitions is a competition, where only team members can view those simulations.
                            These simulations are executed in sync mode, which mean, there is no live stream only the result (log) is presented to you.
                            For these simulations you can choose from a variety of maps that are already present on the platform.
                        </div>
                        <p ng-if="vm.solos.length != 0">Here is shown in table the list of all solo trials created.</p>
                        <table  ng-if="vm.solos.length != 0" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Team Name</th>
                                <th>Number of Maps</th>
                                <th>Number of Solo Trials</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in vm.solos">
                                <td>
                                    <a href="/panel/{{value.team}}/{{value.competition.name}}/soloTrials">{{value.team}}</a>
                                </td>
                                <td>{{value.number_of_rounds}}</td>
                                <td>{{value.number_of_trials}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </section>
            </div>

        </article>
    </div>
</div>
