<div class="content-block" role="main">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">
                        <h2>Trials</h2>
                        <p ng-if="vm.trials.trials.length == 0">You don't have any trial created.</p>
                        <p ng-if="vm.trials.trials.length != 0">Here is shown in table the list of all trials created.</p>
                        <table ng-if="vm.trials.trials.length != 0" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Trials</th>
                                <th>Grid</th>
                                <th>Lab</th>
                                <th>Param List</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in vm.solos">
                                <td>
                                    <a href="/panel/{{value.name}}">Trials</a>
                                </td>
                                <td>{{value.grid}}</td>
                                <td>{{value.lab}}</td>
                                <td>{{value.param_list}}</a>

                                </td>

                            </tr>
                            </tbody>
                        </table>

                        <a ng-if="vm.trials.trials.length == 0" class="btn btn-alt btn-large btn-success" ng-click="vm.launchTrial()">Launch your First Trial</a>
                    </div>

                </section>
            </div>

        </article>
    </div>
</div>