<div class="content-block" role="main">

    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <header>
                    <h2>Create Solo Trial ({{vm.teamName}})</h2>
                </header>
                <section class="tab-content">
                    <br></br>
                    <!-- Tab #basic -->
                    <div class="tab-pane active" id="basic">

                        <!-- Example vertical forms -->
                        <div class="row-fluid">
                            <div class="span4">
                                <p>In this page you can create your solo trials.</p>
                                <br/>
                                <p> When you complete your editions, please click on button <strong>Save changes</strong>.</p>

                            </div>
                            <div class="span8" >
                                <form role="form" ng-submit="vm.create()">
                                    <fieldset>
                                        <div class="control-group">
                                            <label class="control-label" for="select1">Grid</label>
                                            <div class="controls">
                                                <select id="select1" name="option">
                                                    <optgroup ng-repeat="(key, value) in vm.resources.grids" label="{{value.name}}">
                                                        <option ng-repeat="(key1, value1) in value.sub" value="{{value1.path}}">{{value1.name}}</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label" for="select2">Lab</label>
                                            <div class="controls">
                                                <select id="select2" name="option">
                                                    <optgroup ng-repeat="(key, value) in vm.resources.labs" label="{{value.name}}">
                                                        <option ng-repeat="(key1, value1) in value.sub" value="{{value1.path}}">{{value1.name}}</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label" for="select3">Param List</label>
                                            <div class="controls">
                                                <select id="select3" name="option">
                                                    <optgroup ng-repeat="(key, value) in vm.resources.pram_lists" label="{{value.name}}">
                                                        <option ng-repeat="(key1, value1) in value.sub" value="{{value1.path}}">{{value1.name}}</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <button class="btn btn-alt btn-large btn-success" type="submit">Create Solo Trial</button>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </article>
    </div>
</div>