<div class="content-block" role="main">

    <!-- Grid row -->
    <div class="row" ng-show="loader.loading">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <header>
                    <h2>Create Map ({{vm.teamName}})</h2>
                </header>
                <section class="tab-content">
                    <br></br>
                    <!-- Tab #basic -->
                    <div class="tab-pane active" id="basic">

                        <!-- Example vertical forms -->
                        <div class="row-fluid">
                            <div class="span4">
                                <p>In this page you can create your maps.</p>
                                <br/>
                                <p> When you complete your editions, please click on button <strong>Save changes</strong>.</p>

                            </div>
                            <div class="span4" >
                                <form role="form" ng-submit="vm.create()">
                                    <fieldset>
                                        <div class="control-group">
                                            <label class="control-label" for="select1">Grid</label>
                                            <div class="controls">
                                                <select id="select1" ng-change="vm.getGrid()" ng-model="vm.resources.grid">
                                                    <option value="" disabled>--Please select one grid</option>
                                                    <optgroup ng-repeat="(key, value) in vm.resources.grids" label="{{value.name}}">
                                                        <option ng-repeat="(key1, value1) in value.sub" id="grid" value="{{value1.path}}" name="{{value1.name}}" >{{value1.name}}</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label" for="select2">Lab</label>
                                            <div class="controls">
                                                <select id="select2" ng-change="vm.getLab()" ng-model="vm.resources.lab">
                                                    <option value="" disabled>--Please select one lab</option>
                                                    <optgroup ng-repeat="(key, value) in vm.resources.labs" label="{{value.name}}">
                                                        <option ng-repeat="(key1, value1) in value.sub" id="lab" value="{{value1.path}}" name="{{value1.name}}">{{value1.name}}</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label" for="select3">Param List</label>
                                            <div class="controls">
                                                <select id="select3">
                                                    <optgroup ng-repeat="(key, value) in vm.resources.pram_lists" label="{{value.name}}">
                                                        <option ng-repeat="(key1, value1) in value.sub" value="{{value1.path}}" name="{{value1.name}}">{{value1.name}}</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <a href="javascript:history.go(-1)" class="btn btn-flat btn-large btn-primary">Back</a>
                                            <button class="btn btn-flat btn-large btn-success" type="submit">Create Map</button>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>
                            <div class="span4">
                                zona para miniviewer
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </article>
    </div>
</div>