<div class="content-block" ng-controller="LogViewer" role="main">

    <!-- Page header -->
    <h1 id="row5" style="display: none">WebViewer
        <a class="fam-help" data-toggle="modal" href="#demoModal"></a>
        <a href="javascript:history.go(-1)" class="btn btn-flat btn-large btn-primary">Back</a>

    </h1>

    <div class="modal fade hide" id="demoModal" aria-hidden="true" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Help</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li>You can play, pause or stop the viewer as well as chose the velocity of the trial.</li>
                <li>Use <i>space</i> key to play or pause trial and the <i>Left</i> and <i>Right</i> keys to go forward or backward in the timeline.</li>
                <li>You can choose to show or hide the visited points line of each robot.</li>
                <li>The sensors data is only available when the viewer is paused or in the lowest velocity.</li>
            </ul>
        </div>
    </div>
    <!-- /Page header -->

    <div class="row" id="waitawhile">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <header>
                    <h2>Wait a while...</h2>
                </header>
                <section>
                    <div class="row">
                        <div class="span12" style="text-align: center">
                            <span class="loading blue" data-original-title="Loading, please wait…">Loading…</span>
                        </div>
                    </div>
                </section>
            </div>
        </article>
        <!-- /Data block -->

    </div>

    <!-- Grid row -->
    <div class="row" id="row1" style="display: none">
        <article class="span12 data-block">
            <div class="data-container">
                <section>
                    <div class="row" id="svgrow" onload="inform()">
                        <div class="span12" style="text-align: center; vertical-align: middle">
                            <div class ="canvas-container">
                                <canvas id="layer1">
                                    not supported
                                </canvas>
                                <canvas id="layer2">
                                    not supported
                                </canvas>
                                <canvas id="layer4">
                                    not supported
                                </canvas>

                            </div>
                            <div id="tmline" class="timeline-container">
                                <div class="nstSlider" data-range_min="0" data-range_max="{{param._SimTime}} "
                                     data-cur_min="0" style="width: 100%; margin-top: -5px">
                                    <div class="leftGrip"></div>
                                </div>
                            </div>
                            <div class="row" >
                                <div class ="span6" style="text-align: left;margin-left: 20px; margin-top: 5px">
                                    <div class="btn-group" data-toggle="buttons-checkbox">
                                        <button class="btn btn-success" id="play"><span class="awe-play"></span></button>
                                        <button class="btn btn-danger" id="pause" disabled="true"><span class="awe-pause"></span></button>
                                        <button class="btn btn-info" id="stop" disabled="true"><span class="awe-stop"></span></button>
                                    </div>
                                </div>

                                <div class="span2" style="text-align: right; margin-top: 5px; margin-left: 57px">

                                </div>
                                <div class="span3" style="text-align: right; margin-top: 5px">
                                    <div class="btn-group" data-toggle="buttons-checkbox">
                                        <button ng-disabled="velButton=='18x'" class="btn" ng-click="activeV('18x')">1/8x</button>
                                        <button ng-disabled="velButton=='14x'" class="btn" ng-click="activeV('14x')">1/4x</button>
                                        <button ng-disabled="velButton=='1x'" class="btn" ng-click="activeV('1x')">1x</button>
                                        <button ng-disabled="velButton=='2x'" class="btn" ng-click="activeV('2x')">2x</button>
                                        <button ng-disabled="velButton=='4x'" class="btn" ng-click="activeV('4x')">4x</button>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>


                </section>
            </div>
        </article>

    </div>
    <!-- /Grid row -->
    <div class="row"  id="row2" style="display: none">
        <article class="span4 data-block">
            <div class="data-container">
                <section class="viewer">
                    <div class="row-fluid demo">
                        <div class="span4">Name</div>
                        <div class="span4">Robot</div>
                        <div class="span4">Line</div>

                    </div>
                    <div ng-repeat="value in robot track by $index" class="row-fluid" style="text-align: center">
                        <div class="span4 viewer"><h2>{{value._Name}}</h2></div>
                        <div class="span4 viewer"><img src="{{mickeys[$index]}}" width="35" height="35"></div>
                        <button ng-click="toggle([$index])" ng-class="bclass[$index]" >{{toggleText[$index]}}</button>
                    </div>


                </section>
            </div>
        </article>
        <!-- Data block -->
        <article class="span8 data-block">
            <div class="data-container">
                <section class="viewer">
                    <div class="row-fluid demo">
                        <div class="span2">Time</div>
                        <div class="span2">Collisions</div>
                        <div class="span2">State</div>
                        <div class="span2">Score</div>
                        <div class="span2">Retur. Time</div>
                        <div class="span2">Remaining</div>

                    </div>
                    <div ng-repeat="value in robot track by $index" class="row-fluid" style="text-align: center">
                        <div class="span2 viewer"><h2>{{time}}</h2></div>
                        <div class="span2 viewer"><h2>{{value.Scores._Collisions}}</h2></div>
                        <div class="span2 viewer"><h2>{{value._State}}</h2></div>
                        <div class="span2 viewer"><h2>{{value.Scores._Score}}</h2></div>
                        <div class="span2 viewer"><h2>{{value.Scores._ReturningTime}}</h2></div>
                        <div class="span2 viewer"><h2>{{param._SimTime-time}}</h2></div>
                    </div>
                </section>
            </div>
        </article>
    </div>
    <!-- Grid row -->

    <div class="row"  id="row3" style="display: none">
        <article class="span12 data-block accordion-block decent">
            <div class="data-container">
                <div class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" href="#sotable" data-parent="#icons" data-toggle="collapse"><h2>Sensors Data</h2></a>
                        </div>
                        <div id="sotable" class="accordion-body collapse">
                            <div class="row" >
                                <div ng-if="playvar == 1 && slow == 0" style="text-align: center"><h3>Only available when the viewer is paused or in the lowest velocity </h3> </div>
                                <table ng-if="playvar == 0 || slow == 1" id="scoretable" class="table table-striped table-bordered table-condensed table-hover" >

                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th ng-repeat="value in robot track by $index" style="text-align: center">{{value._Id}} - {{value._Name}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <!-- Position(x,y) -->
                                    <tr>
                                        <th>Position(x,y)</th>
                                        <td ng-repeat="value in robot track by $index" style="text-align: center">({{value.Pos._X | number:2}}, {{value.Pos._Y | number:2}})</td>
                                    </tr>

                                    <!-- Direction -->
                                    <tr>
                                        <th>Direction</th>
                                        <td ng-repeat="value in robot track by $index" style="text-align: center">{{value.Pos._Dir | number:2}}</td>
                                    </tr>

                                    <!-- Compass -->
                                    <tr ng-if="robot[0].Measures.Sensors.hasOwnProperty('_Compass')">
                                        <th>Compass</th>
                                        <td ng-repeat="value in robot track by $index" style="text-align: center">{{value.Measures.Sensors._Compass}}</td>
                                    </tr>

                                    <!-- Left Motor -->
                                    <tr ng-if="robot[0].Action.hasOwnProperty('_LeftMotor')">
                                        <th>Left Motor</th>
                                        <td ng-repeat="value in robot track by $index" style="text-align: center">{{value.Action._LeftMotor}}</td>
                                    </tr>

                                    <!-- Right Motor -->
                                    <tr ng-if="robot[0].Action.hasOwnProperty('_RightMotor')">
                                        <th>Right Motor</th>
                                        <td ng-repeat="value in robot track by $index" style="text-align: center">{{value.Action._RightMotor}}</td>
                                    </tr>

                                    <!-- Collision -->
                                    <tr ng-if="robot[0].Measures.Sensors.hasOwnProperty('_Collision')">
                                        <th>Collision</th>
                                        <td ng-repeat="value in robot track by $index" style="text-align: center">{{value.Measures.Sensors._Collision}}</td>
                                    </tr>

                                    <!-- Ground -->
                                    <tr ng-if="robot[0].Measures.Sensors.hasOwnProperty('_Ground')">
                                        <th>Ground</th>
                                        <td ng-repeat="value in robot track by $index" style="text-align: center">{{value.Measures.Sensors._Ground}}</td>
                                    </tr>

                                    <!-- IRSensors -->
                                    <tr ng-if="robot[0].Measures.Sensors.IRSensor" ng-repeat="(idx, ir) in robot[0].Measures.Sensors.IRSensor">
                                        <th>IRSensor {{robot[0].Measures.Sensors.IRSensor[idx]._Id}}</th>
                                        <td ng-repeat="value in robot" style="text-align: center">{{value.Measures.Sensors.IRSensor[idx]._Value}}</td>
                                    </tr>

                                    <!-- GPS(x,y) -->
                                    <tr ng-if="robot[0].Measures.Sensors.GPS">
                                        <th>GPS(x,y)</th>
                                        <td ng-repeat="value in robot track by $index" style="text-align: center">({{value.Measures.Sensors.GPS._X}}, {{value.Measures.Sensors.GPS._Y}})</td>
                                    </tr>

                                    <!-- End Led -->
                                    <tr>
                                        <th>End Led</th>
                                        <td ng-repeat="value in robot track by $index" style="text-align: center">
                                            <span ng-if="value.Measures.Leds._EndLed=='Off'" class="label label-important">OFF</span>
                                            <span ng-if="value.Measures.Leds._EndLed=='On'" class="label label-success">ON</span>
                                        </td>
                                    </tr>

                                    <!-- Returning Led -->
                                    <tr>
                                        <th>Returning Led</th>
                                        <td ng-repeat="value in robot track by $index" style="text-align: center">
                                            <span ng-if="value.Measures.Leds._ReturningLed=='Off'" class="label label-important">OFF</span>
                                            <span ng-if="value.Measures.Leds._ReturningLed=='On'" class="label label-success">ON</span>
                                        </td>
                                    </tr>

                                    <!-- Visiting Led -->
                                    <tr>
                                        <th>Visiting Led</th>
                                        <td ng-repeat="value in robot track by $index" style="text-align: center">
                                            <span ng-if="value.Measures.Leds._VisitingLed=='Off'" class="label label-important">OFF</span>
                                            <span ng-if="value.Measures.Leds._VisitingLed=='On'" class="label label-success">ON</span>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
<script>
    $('.nstSlider').nstSlider({
        "left_grip_selector": ".leftGrip",
        "value_changed_callback": function(cause, leftValue, rightValue) {
            try{
                var value = $(".leftGrip").css("left");
                value = parseInt(value);
                var scope = angular.element('[ng-controller=LogViewer]').scope();
                scope.idx = parseInt((value * angular.element('[ng-controller=LogViewer]').scope().param._SimTime) / ( $("#tmline").width()-20));
                console.log(scope.idx);

            }catch(TypeError){}
        },
        "highlight": {

        }
    });

    // Call methods and such...
    var highlightMin = Math.random() * 20,
            highlightMax = highlightMin + Math.random() * 80;
    $('.nstSlider').nstSlider('highlight_range', highlightMin, highlightMax);

</script>
<script type="text/javascript" src ="static/js/viewer/logviewer_jquery.js"></script>
