<div class="content-block" role="main" ng-controller="StreamViewer">

    <!-- Page header -->
    <h1 id="row5" style="display: none">WebViewer
        <a class="fam-help" data-toggle="modal" href="#demoModal"></a>
        <a href="javascript:history.go(-1)" class="btn btn-alt btn-large btn-primary">Back</a>

    </h1>
    <div class="modal fade hide" id="demoModal" aria-hidden="true" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Help</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li>You can play, pause or stop the viewer as well as chose the velocity of the trial.</li>
                <li>Use <i>space</i> key to play or pause trial and the <i>Left</i> and <i>Right</i> keys to go forward or backward in the timeline.</li>
                <li>You can choose to show or hide the visited points line of each robot.</li>
                <li>The sensors data is only available when the viewer is paused or in the lowest velocity.</li>
            </ul>
        </div>
    </div>
    <!-- /Page header -->

    <div class="row" id="waitawhile">
        <article class="span12 data-block">
            <div class="data-container">
                <header>
                    <h2>Live Stream</h2>
                </header>
                <section>
                    <div class="row">
                        <div class="span12 viewer" style="text-align: center; vertical-align: middle">
                            <div class ="canvas-container">
                                <canvas id="layer3">
                                    not supported
                                </canvas>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </article>

    </div>

    <!-- Grid row -->
    <div class="row" id="row1" style="display: none">
        <article class="span12 data-block">
            <div class="data-container">
                <section>
                    <div class="row">
                        <div class="span12 viewer" style="text-align: center; vertical-align: middle">
                            <div class ="canvas-container">
                                <canvas id="layer1">
                                    not supported
                                </canvas>
                                <canvas id="layer2">
                                    not supported
                                </canvas>
                            </div>
                        </div>
                    </div>


                </section>
            </div>
        </article>

    </div>
    <!-- /Grid row -->
    <div class="row"  id="row2" style="display: none">
        <article class="span4 data-block">
            <div class="data-container">
                <section class="viewer">
                    <div class="row-fluid demo">
                        <div class="span6">Name</div>
                        <div class="span6">Robot</div>

                    </div>
                    <div ng-if="numRobots != 1" ng-repeat="value in robot track by $index" class="row-fluid" style="text-align: center">
                        <div class="span6 viewer"><h2>{{value._Name}}</h2></div>
                        <div class="span6 viewer"><img src="{{mickeys[$index]}}" width="35" height="35"></div>
                    </div>
                    <div ng-if="numRobots == 1" class="row-fluid" style="text-align: center">
                        <div class="span6 viewer"><h2>{{robot._Name}}</h2></div>
                        <div class="span6 viewer"><img src="{{mickeys[0]}}" width="35" height="35"></div>
                    </div>

                </section>
            </div>
        </article>
        <!-- Data block -->
        <article class="span8 data-block">
            <div class="data-container">
                <section class="viewer">
                    <div class="row-fluid demo">
                        <div class="span2">Time</div>
                        <div class="span2">Collisions</div>
                        <div class="span2">State</div>
                        <div class="span2">Score</div>
                        <div class="span2">Retur. Time</div>
                        <div class="span2">Remaining</div>

                    </div>
                    <div ng-if="numRobots != 1" ng-repeat="value in robot track by $index" class="row-fluid" style="text-align: center">
                        <div class="span2 viewer"><h2>{{time}}</h2></div>
                        <div class="span2 viewer"><h2>{{value.Scores._Collisions}}</h2></div>
                        <div class="span2 viewer"><h2>{{value._State}}</h2></div>
                        <div class="span2 viewer"><h2>{{value.Scores._Score}}</h2></div>
                        <div class="span2 viewer"><h2>{{value.Scores._ReturningTime}}</h2></div>
                        <div class="span2 viewer"><h2>{{param._SimTime-time}}</h2></div>
                    </div>
                    <div ng-if="numRobots == 1" class="row-fluid" style="text-align: center">
                        <div class="span2 viewer"><h2>{{time}}</h2></div>
                        <div class="span2 viewer"><h2>{{robot.Scores._Collisions}}</h2></div>
                        <div class="span2 viewer"><h2>{{robot._State}}</h2></div>
                        <div class="span2 viewer"><h2>{{robot.Scores._Score}}</h2></div>
                        <div class="span2 viewer"><h2>{{robot.Scores._ReturningTime}}</h2></div>
                        <div class="span2 viewer"><h2>{{param._SimTime-time}}</h2></div>
                    </div>


                </section>
            </div>
        </article>
    </div>
    <div class="row"  id="finalResults" style="display: none">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <h2>Results</h2>
                <section class="viewer">
                    <div class="row-fluid demo">
                        <div class="span2">Position</div>
                        <div class="span2">Name</div>
                        <div class="span2">Robot</div>
                        <div class="span2">State</div>
                        <div class="span2">Collisions</div>
                        <div class="span2">Final Score</div>


                    </div>
                    <div ng-if="numRobots != 1" ng-repeat="value in finalResults track by $index" class="row-fluid" style="text-align: center">
                        <div class="span2 viewer"><h2>{{$index + 1}}º</h2></div>
                        <div class="span2 viewer"><h2>{{value._Name}}</h2></div>
                        <div class="span2 viewer"><img src="{{mickeys[$index]}}" width="35" height="35"></div>
                        <div class="span2 viewer"><h2>{{value._State}}</h2></div>
                        <div class="span2 viewer"><h2>{{value.Scores._Collisions}}</h2></div>
                        <div class="span2 viewer"><h2>{{value.Scores._Score}}</h2></div>
                    </div>
                    <div ng-if="numRobots == 1" class="row-fluid" style="text-align: center">
                        <div class="span2 viewer"><h2>1º</h2></div>
                        <div class="span2 viewer"><h2>{{robot._Name}}</h2></div>
                        <div class="span2 viewer"><img src="{{mickeys[0]}}" width="35" height="35"></div>
                        <div class="span2 viewer"><h2>{{robot._State}}</h2></div>
                        <div class="span2 viewer"><h2>{{robot.Scores._Collisions}}</h2></div>
                        <div class="span2 viewer"><h2>{{robot.Scores._Score}}</h2></div>
                    </div>


                </section>
            </div>
        </article>
    </div>
</div>
<script type="text/javascript" src ="static/js/viewer/streamviewer_jquery.js"></script>