<!-- Main page header -->
<header class="container">

    <!-- Main page logo -->
    <h1><a href="#" class="brand">Ciber</a></h1>

    <!-- Alternative navigation -->
    <nav>
        <ul>
            {% if user.is_staff %}
            <li><a href="/panel/" target="_top" style="color: #e74949">Exit Administration</a></li>
            {% endif %}
            <li><a href="http://www.ua.pt">Universidade de Aveiro</a></li>
            <li><a href="http://microrato.ua.pt/">Ciber Rato</a></li>
        </ul>
    </nav>
</header>
<!-- /Main page header -->