{% load compress %}
{% load staticfiles %}

{% compress css %}
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<!-- jQuery Visualize Styles -->
<link rel='stylesheet' type='text/css' href="{% static 'stylesheets/plugins/jquery.visualize.css' %}">

<!-- jQuery jGrowl Styles -->
<link rel='stylesheet' type='text/css' href="{% static 'stylesheets/plugins/jquery.jgrowl.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'stylesheets/jquery.nstSlider.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/plugins/jquery.snippet.css">

<link rel='stylesheet' href="{% static 'stylesheets/plugins/jquery.plupload.queue.css' %}">
<link rel='stylesheet' href="{% static 'stylesheets/plugins/jquery.ui.plupload.css' %}">

<!-- CSS styles -->
<link rel='stylesheet' type='text/css' href="{% static 'stylesheets/ciberonline.css' %}">

<link rel='stylesheet' href="{% static 'bower_components/angular-loading-bar/build/loading-bar.min.css' %}" type='text/css' media='all' />


{% endcompress %}