<h1><a href="login.html" class="brand">Ciber</a></h1>
<div class="data-block">
    <form role="form" ng-submit="vm.login()">


        <fieldset>
            <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>
            <div class="control-group">
                <label class="control-label" for="login__email">Email</label>
                <div class="controls">
                    <input id="login__email" type="text" placeholder="email@email.com" name="login" ng-model="vm.email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="login__password">Password</label>
                <div class="controls">
                    <input id="login__password" type="password" placeholder="Password" name="password" ng-model="vm.password">
                    <label class="checkbox">
                        <input id="optionsCheckbox" type="checkbox" value="option1"> Remember me
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-large btn-inverse btn-alt" type="submit"><span class="awe-signin"></span> Log in</button>
            </div>

            <div class="form-actions">
                or if you don`t have account:
                <p></p>
                <a class="btn btn-large btn-inverse btn-alt" href="registo.html"><span class="awe-signin"></span> Create account
                </a>
            </div>
            <!-- <div class="form-actions">
                or if you don`t have account:
                <p></p>
                <button class="btn btn-large btn-inverse btn-alt" type="submit"><span class="awe-signin"></span> <a href="registo.html">Create account</a>
                </button>
            </div>	 -->
        </fieldset>
    </form>
</div>
<p><a href="ResetPassword.html" class="pull-right">Password reset</a></p>