<h1><a href="#" onclick="window.location.assign('../../')" class="brand">Ciber</a></h1>
<div class="data-block" ng-show="loader.loading">
    <form role="form" ng-submit="vm.login()">


        <fieldset>
            <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>
            <div class="control-group">
                <label class="control-label" for="login__email">Email</label>
                <div class="controls">
                    <input id="login__email" type="text" placeholder="email@email.com" name="login" ng-model="vm.email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="login__password">Password</label>
                <div class="controls">
                    <input id="login__password" type="password" placeholder="Password" name="password" ng-model="vm.password">
                    <!--<label class="checkbox">
                        <input id="optionsCheckbox" type="checkbox" value="option1"> Remember me
                    </label>-->
                </div>
            </div>

            <div ng-show="vm.show_captcha" class="form-actions">

                <img style="horiz-align: left" src="{{vm.captcha.new_cptch_image}}">
                <input style="horiz-align: right; width: 50%" id="captcha" type="text"  name="captcha" ng-model="vm.captcha_text">


            </div>

            <div id="login" class="form-actions">
                <button class="btn btn-large btn-inverse btn-flat" type="submit"><span class="awe-signin"></span> Log in</button>
            </div>

            <div class="form-actions">
                or if you don't have account:
                <p></p>
                <a class="btn btn-large btn-inverse btn-flat" ng-href="idp/register"><span class="awe-signin"></span> Create account
                </a>
            </div>
        </fieldset>
    </form>
</div>
<!--<p><a href="idp/reset/" class="pull-right">Password reset</a></p>-->