
<h1><a href="#" onclick="window.location.assign('../../')" class="brand"><strong>Create account</strong></a></h1>
<div class="data-block">
    <form role="form" ng-submit="vm.register()">
        <fieldset>
            <!-- first name -->
            <div class="control-group">
                <label class="control-label" for="first">First Name</label>
                <div class="controls">
                    <input id="first" type="text" placeholder="First Name" name="name" ng-model="vm.first_name">
                </div>
            </div>

            <!-- last name -->
            <div class="control-group">
                <label class="control-label" for="last">Last name</label>
                <div class="controls">
                    <input id="last" type="text" placeholder="Last Name" name="name" ng-model="vm.last_name">
                </div>
            </div>

            <!-- email -->
            <div class="control-group">
                <label class="control-label" for="email"> Email </label>
                <div class="controls">
                    <input id="email" type="text" placeholder="email@email.com" name="email" ng-model="vm.email">
                </div>
            </div>

            <!-- username -->
            <div class="control-group">
                <label class="control-label" for="username"> Username </label>
                <div class="controls">
                    <input id="username" type="text" placeholder="Username" name="username" ng-model="vm.username">
                </div>
            </div>

            <!-- password -->
            <div class="control-group">
                <label class="control-label" for="password"> Password </label>
                <div class="controls">
                    <input id="password" type="password" placeholder="Password" name="password" ng-model="vm.password">
                </div>
            </div>

            <!-- confirm_password -->
            <div class="control-group">
                <label class="control-label" for="confirm_password"> Confirm Password </label>
                <div class="controls">
                    <input id="confirm_password" type="password" placeholder="Confirm Password" name="confirm password" ng-model="vm.confirm_password">
                </div>
            </div>


            <!-- Instituição de ensino -->
            <div class="control-group">
                <label class="control-label" for="education"> Educational Institution </label>
                <div class="controls">
                    <input id="education" type="text" placeholder="Teaching Institution" name="institution" ng-model="vm.teaching_institution">
                </div>
            </div>
            <!-- <div class="control-group">
                <label class="control-label" for="select">Educacional Institution</label>
                <div class="controls">
                    <select id="select">
                        <option>Universidade de Aveiro</option>
                        <option>Universidade de Coimbra</option>
                        <option>Intituto Politécnico de Leiria</option>
                        <option>Universidade do Minho</option>
                        <option>Universidade de Trás-os-Montes e Alto Douro</option>
                        <option>Universidade da Beira Interior</option>
                    </select>
                </div>
            </div> -->

            <div class="form-actions">
                <button class="btn btn-large btn-inverse btn-alt" type="submit"><span class="awe-signin"></span> Finish</button>
            </div>

            <div class="form-actions">
                <a class="btn btn-large btn-inverse btn-alt" href="idp/login/"><span class="awe-signin"></span> Login </a>
            </div>
        </fieldset>
    </form>
</div>
