
<h1><a href="#" onclick="window.location.assign('../../')" class="brand"><strong>Create account</strong></a></h1>
<div class="data-block" ng-show="loader.loading">
    <form role="form" ng-submit="vm.register()">
        <fieldset>
            <!-- first name -->
            <div class="control-group">
                <label class="control-label" for="first">First Name</label>
                <div class="controls">
                    <input id="first" type="text" placeholder="First Name" name="name" ng-model="vm.first_name">
                </div>
            </div>

            <!-- last name -->
            <div class="control-group">
                <label class="control-label" for="last">Last name</label>
                <div class="controls">
                    <input id="last" type="text" placeholder="Last Name" name="name" ng-model="vm.last_name">
                </div>
            </div>

            <!-- email -->
            <div class="control-group">
                <label class="control-label" for="email"> Email </label>
                <div class="controls">
                    <input id="email" type="text" placeholder="email@email.com" name="email" ng-model="vm.email">
                </div>
            </div>

            <!-- username -->
            <div class="control-group">
                <label class="control-label" for="username"> Username </label>
                <div class="controls">
                    <input id="username" type="text" placeholder="Username" name="username" ng-model="vm.username">
                </div>
            </div>

            <!-- password -->
            <div class="control-group">
                <label class="control-label" for="password"> Password </label>
                <div class="controls">
                    <input id="password" type="password" placeholder="Password" name="password" ng-model="vm.password">
                </div>
            </div>

            <!-- confirm_password -->
            <div class="control-group">
                <label class="control-label" for="confirm_password"> Confirm Password </label>
                <div class="controls">
                    <input id="confirm_password" type="password" placeholder="Confirm Password" name="confirm password" ng-model="vm.confirm_password">
                </div>
            </div>


            <!-- Instituição de ensino -->
            <div class="control-group">
                <label class="control-label" for="select">Educacional Institution</label>
                <div class="controls">
                    <select name="select" id="select" ng-model="vm.teaching_institution" ng-change="vm.myFunction()">
                        <option value="" disabled>--Please select one Educational Institution</option>
                        <optgroup label="--ENSINO SUPERIOR PÚBLICO UNIVERSITÁRIO"></optgroup>
                        <option>ISCTE - Instituto Universitário de Lisboa</option>
                        <option>Universidade Aberta</option>
                        <option>Universidade dos Açores</option>
                        <option>Universidade do Algarve</option>
                        <option selected="selected">Universidade de Aveiro </option>
                        <option>Universidade da Beira Interior</option>
                        <option>Universidade de Coimbra</option>
                        <option>Universidade de Évora</option>
                        <option>Universidade de Lisboa</option>
                        <option>Universidade da Madeira</option>
                        <option>Universidade do Minho</option>
                        <option>Universidade Nova de Lisboa</option>
                        <option>Universidade do Porto</option>
                        <option>Universidade Técnica de Lisboa</option>
                        <option>Universidade de Trás-os-Montes e Alto Douro</option>
                        <optgroup label="--ENSINO SUPERIOR PÚBLICO POLITÉCNICO"></optgroup>
                        <option>Escola Superior de Enfermagem de Coimbra</option>
                        <option>Escola Superior de Enfermagem de Lisboa</option>
                        <option>Escola Superior de Enfermagem do Porto</option>
                        <option>Escola Superior de Hotelaria e Turismo do Estoril</option>
                        <option>Escola Superior Náutica Infante D. Henrique</option>
                        <option>Instituto Politécnico de Beja</option>
                        <option>Instituto Politécnico de Bragança</option>
                        <option>Instituto Politécnico de Castelo Branco</option>
                        <option>Instituto Politécnico do Cávado e do Ave</option>
                        <option>Instituto Politécnico de Coimbra</option>
                        <option>Instituto Politécnico da Guarda</option>
                        <option>Instituto Politécnico de Leiria</option>
                        <option>Instituto Politécnico de Lisboa</option>
                        <option>Instituto Politécnico de Portalegre</option>
                        <option>Instituto Politécnico do Porto</option>
                        <option>Instituto Politécnico de Santarém</option>
                        <option>Instituto Politécnico de Setúbal</option>
                        <option>Instituto Politécnico de Tomar</option>
                        <option>Instituto Politécnico de Viana do Castelo</option>
                        <option>Instituto Politécnico de Viseu
                        <option>Other...</option>

                    </select>
                    <input ng-show="input" type="text" placeholder="Educational Institution" ng-model="vm.teaching_institution_other"/>
                </div>
            </div>

            <div  class="form-actions">

                <img style="horiz-align: left" src="{{vm.captcha.new_cptch_image}}">
                <input style="horiz-align: right; width: 50%" id="captcha" type="text"  name="captcha" ng-model="vm.captcha_text">


            </div>

            <div class="form-actions">
                <button class="btn btn-large btn-inverse btn-flat" type="submit"><span class="awe-signin"></span> Finish</button>
            </div>

            <div class="form-actions">
                <a class="btn btn-large btn-inverse btn-flat" href="idp/login/"><span class="awe-signin"></span> Login </a>
            </div>
        </fieldset>
    </form>
</div>
