<div class="content-block" role="main">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">
                        <h2><span id="agent_name">{{vm.agent.agent_name}}</span> ({{vm.agent.group_name}})</h2>
                            <a data-toggle="modal"  href="#uploadCode" class="btn btn-alt btn-large btn-primary">Upload Code for this Agent</a>
                            <div class="modal fade"  id="uploadCode">
                                <div class="modal-header">
                                    <h2 align="center">Upload your code</h2>
                                </div>
                                <div class="modal-body">
                                    <section>
                                        <p> Upload your file code here! Select <strong>Add files</strong> and next choose the file through your browse.</p>
                                        <p> When the file code is choosen, then upload him clicking on button <strong>Start upload</strong> and after these you can see your file code in the square above, allowing to you to download if you want to see him.
                                        <select id="selector_language">
                                            <option value="Python">Python</option>
                                            <option value="C">C</option>
                                            <option value="cplusplus">C++</option>
                                            <option value="Java">Java</option>
                                        </select>

                                    </section>
                                    <input id="fileupload"
                                           type="file" name="files[]"
                                           class="inputFile clickable"
                                           />
                                    <button ng-click="vm.uploadFile()"></button>

                                </div>
                                <div class="modal-footer">
                                    <a data-dismiss="modal" class="btn btn-alt btn-danger">Cancel</a>

                                </div>
                            </div>
                    </div>

                </section>
            </div>

        </article>
    </div>
</div>


