<div class="content-block" role="main" ng-controller="AgentDetailController">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">
                        <h2><span id="agent_name">{{vm.agent.agent_name}}</span> ({{vm.agent.group_name}})</h2>
                        <p ng-if="vm.files.length != 0 && vm.agent.is_local == false">Here is shown in table the list of all uploaded files of this agent.</p>
                        <p ng-if="vm.files.length == 0 && vm.agent.is_local == false">This agent doesn't have any uploaded file.</p>

                        <table ng-if="vm.files.length != 0 && vm.agent.is_local == false" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>File Name</th>
                                <th>Size</th>
                                <th>Last Modification</th>
                                <th>Remove File</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key,value) in vm.files">
                                <td><a href="/api/v1/agents/file/{{vm.agent.agent_name}}/{{value.file}}/" target="_blank">{{value.file}}</a></td>
                                <td>{{value.size}}</td>
                                <td>{{value.last_modification}}</td>
                                <td><a ng-click="vm.deleteUpload(value.file)" class="btn btn-primary btn-flat">X</a></td>
                            </tr>
                            </tbody>

                        </table>
                        <div align="right">
                            <a ng-if="vm.files.length != 0" href="/api/v1/agents/agent_all_files/{{vm.agent.agent_name}}/" target="_blank">Download All</a>
                        </div>
                        <strong style="font-size: large">Files: </strong>
                        <br/>
                        <output id="list"></output>

                        <input id="fileupload"
                               type="file" name="files[]"
                               class="inputFile clickable"
                               multiple=""
                                />

                        <script>
                            function handleFileSelect(evt) {
                                var files = evt.target.files; // FileList object

                                // files is a FileList of File objects. List some properties.
                                var output = [];
                                for (var i = 0, f; f = files[i]; i++) {
                                    output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                                            f.size, ' bytes, last modified: ',
                                            f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                                            '</li>');
                                }
                                document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
                            }

                            document.getElementById('fileupload').addEventListener('change', handleFileSelect, false);
                        </script>

                        <button class="btn btn-alt btn-success" ng-click="vm.uploadFile()">Upload All</button>



                    </div>

                </section>
                <hr/>
                <a href="javascript:history.go(-1)" class="btn btn-alt btn-large btn-primary">Back</a>


            </div>

        </article>
    </div>
</div>


