<div class="content-block" role="main">

    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <header>
                    <h2>Create Agent</h2>
                </header>
                <section class="tab-content">
                    <br></br>
                    <!-- Tab #basic -->
                    <div class="tab-pane active" id="basic">

                        <!-- Example vertical forms -->
                        <div class="row-fluid">
                            <div class="span4">
                                <p>In this page you can create your agents.</p>
                                <p><strong>Type of Agent, is Local: </strong></p>
                                <p>If you want to run your code at the competition event choose <strong>Yes</strong>, you won't be able to upload code.</p>
                                <p>If you want to just submit the code to the competition choose <strong>No</strong>, you will be able to upload code.</p>
                                <br><br/>
                                <p> When you complete your editions, please click on button <strong>Save changes</strong>.</p>

                            </div>
                            <div class="span8" ng-controller="CreateAgentController">
                                <form role="form" ng-submit="vm.create()">
                                    <fieldset>
                                        <div class="control-group">
                                            <label class="control-label" for="agentname">Agent Name</label>
                                            <div class="controls">
                                                <input id="agentname" type="text" placeholder="name of the agent" name="name" ng-model="vm.name">
                                            </div>
                                        </div>
                                        <div  class="control-group">
                                            <label class="control-label" for="select">Team of the Agent</label>
                                            <div class="controls">
                                                <select id="select" name="option">
                                                    <option ng-repeat="(key, value) in vm.teams">{{value.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div  class="control-group">
                                            <label class="control-label" for="type">Type of the Agent, Is Local?</label>
                                            <div class="controls">
                                                <select id="type" name="option">
                                                    <option value="false">No (can upload code)</option>
                                                    <option value="true">Yes (can't upload code)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div  class="control-group">
                                            <label class="control-label" for="type">Language of the Agent</label>
                                            <div class="controls">
                                                <select id="selector_language">
                                                    <option ng-repeat="(key, value) in vm.languages" value="{{value.value}}">{{value.name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <button class="btn btn-alt btn-large btn-success" type="submit">Create Agent</button>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </article>
    </div>
</div>