<div class="content-block" role="main">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <div class="row">
                    <header>
                        <h1>{{vm.file}}</h1>
                        <div class="row">
                        <div class="span1"><a class="btn btn-danger" href="/panel/{{vm.teamName}}/{{vm.agentName}}/agentDetail">Discard</a></div>
                        <div class="span1"><a class="btn btn-success" ng-click="vm.getCode()">Save</a></div>
                        <div class="span2"><a class="btn btn" ng-click="vm.getCode()" href="/panel/{{vm.teamName}}/{{vm.agentName}}/agentDetail">Save And Exit</a></div>
                        </div>
                    </header>
                </div>


                <section class="tab-content">
                    <div class="editor" ui-ace="{ mode: 'java', theme: 'monokai' }" ng-model="code"></div>
                </section>
            </div>

        </article>
    </div>
</div>