<div class="content-block" role="main">
    <!-- Grid row -->
    <div class="row" ng-show="loader.loading">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <div class="row">
                    <header style="padding-bottom: 0%">
                        <div class="row">
                            <div class="span8"><h1>{{vm.file}}</h1></div>
                            <div class="span1"><a class="btn btn-danger" href="/panel/{{vm.teamName}}/{{vm.agentName}}/agentDetail">Discard</a></div>
                            <div class="span1"><a class="btn btn-success" ng-click="vm.getCode()">Save</a></div>
                            <div class="span2"><a class="btn btn-success" ng-click="vm.getCode()" href="/panel/{{vm.teamName}}/{{vm.agentName}}/agentDetail">Save And Exit</a></div>
                        </div>

                    </header>

                </div>

                <section class="tab-content">
                    <div class="editor" ui-ace="aceOptions" ng-model="code"></div>
                </section>
            </div>

        </article>
    </div>
</div>