<div class="content-block" role="main">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">
                        <h2>My Agents <a ng-if="vm.agents.length != 0" href="/panel/createAgent" class="btn"><strong>+</strong></a></h2>
                        <p ng-if="vm.agents.length == 0">You don't have any agents registered.</p>
                        <p ng-if="vm.agents.length != 0">Here is shown in table the list of all agents registered.</p>
                        <table ng-if="vm.agents.length != 0" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Agent Name</th>
                                <th>Team Name</th>
                                <th>Language</th>
                                <th>Upload Code</th>
                                <th>Remove Agent</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in vm.agents">
                                <td><a href="panel/{{value.team_name}}/{{value.agent_name}}/agentDetail">{{ value.agent_name }}</a></td>
                                <td><a href="panel/{{value.team_name}}/teamMembers">{{value.team_name}}</a></td>
                                <td>{{value.language}}</td>
                                <td ng-if="value.is_remote == false">
                                    <a  href="/panel/{{value.agent_name}}/agentDetail">Upload</a>


                                </td>
                                <td ng-if="value.is_remote == true">Can't Upload Code</td>
                                <td><a ng-click="vm.deleteAgent(value.agent_name)" class="btn btn-primary btn-flat">X</a></td>

                            </tr>
                            </tbody>
                        </table>

                        <a ng-if="vm.agents.length == 0" class="btn btn-alt btn-large btn-success" href="panel/createAgent">Create your First Agent</a>
                    </div>

                </section>
            </div>

        </article>
    </div>
</div>