<div class="content-block" role="main">
    <!-- Grid row -->
    <div class="row" ng-show="loader.loading">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">
                        <p ng-if="vm.show.length == 0"><strong>There are no challenge trials created.</strong></p>
                        <p ng-if="vm.show.length != 0">Here is shown in table the list of all solo trials created.</p>
                        <table ng-if="vm.show.length != 0" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Agent Name</th>
                                <th>Team Name</th>
                                <th>Date</th>
                                <th>State</th>
                                <th>Watch Trial</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in vm.show">
                                <td>{{value.agent[0].agent_name}}</td>
                                <td><a href="panel/{{ value.agent[0].team_name }}/teamMembers">{{value.agent[0].team_name}}</a></td>
                                <td>{{value.date}}&nbsp;&nbsp;&nbsp;{{value.hour}}</td>
                                <td>{{value.state}}</td>
                                <td>
                                    <a href="/panel/{{value.identifier}}/watchTrial" ng-if="value.state == 'LOG'">Watch</a>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                        <a href="javascript:history.go(-1)" class="btn btn-flat btn-large btn-primary">Back</a>
                    </div>

                </section>
            </div>

        </article>
    </div>
</div>