
<div class="hero-unit">
    <h1>Welcome to CiberMouse</h1>
    <p>Support on the competition, wherein in the day of the competition, all users registered will have the opportunity to submit their code to be reproduced at the right time by monitor responsible by the competition.</p>
    <p><a class="btn btn-alt btn-info btn-large">See Competitions</a></p>
</div>
<!-- Grid row -->
<div class="row">

    <!-- Data block -->
    <article class="span4 data-block accordion-block decent">
        <div class="data-container">
            <div id="accordionName" class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionName" href="#accordionTabOne">Rules </a>
                    </div>
                    <div id="accordionTabOne" class="accordion-body collapse">
                        <div class="accordion-inner">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionName" href="#accordionTabTwo">A brief description of the viewer in real time </a>
                    </div>
                    <div id="accordionTabTwo" class="accordion-body collapse">
                        <div class="accordion-inner">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionName" href="#accordionTabThree"> How to submit your code? </a>
                    </div>
                    <div id="accordionTabThree" class="accordion-body collapse">
                        <div class="accordion-inner">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionName" href="#accordionTabFour">And what about Ciber Scores?</a>
                    </div>
                    <div id="accordionTabFour" class="accordion-body collapse">
                        <div class="accordion-inner">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- /Data block -->

    <!-- Data block -->
    <article class="span8 data-block raw">
        <div class="data-container">
            <header>
                <h2>Some informations about CiberMouse</h2>
            </header>
            <section>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel metus a nulla tempus aliquet sit amet ut justo. Nam vulputate ligula mauris, tempus suscipit metus.</p>
                <p>Cras laoreet metus quis lacus cursus a eleifend sem malesuada. Duis blandit dolor et risus imperdiet a molestie mi porttitor. Aenean sit amet iaculis leo. Pellentesque tincidunt, urna et dictum cursus, leo nisl pretium eros.</p>
            </section>
        </div>
    </article>
    <!-- /Data block -->

</div>
<!-- /Grid row -->

<!-- Grid row -->
<div class="row">

    <!-- Data block -->
    <article class="span6 data-block">
        <div class="data-container">
            <header>
                <h2><a href="ciberscores.html">Ciber Scores</a></h2>
                <ul class="data-header-actions">
                    <li><span class="loading" title="Loading, please wait&hellip;">Loading&hellip;</span></li>
                </ul>
            </header>
            <section>
                <table class="table table-stripped table-hover">
                    <thead>
                    <tr>
                        <th>Team</th>
                        <th>Points</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1<sup>st</sup> <a href="#"> Trinity</a></td>
                        <td>18-20</td>
                        <!--<td>19-21</td> -->
                        <td>1945-07-16</td>
                    </tr>
                    <tr>
                        <td>2<sup>nd</sup> <a href="#"> Trinity</a></td>
                        <td>18-21</td>
                        <!--<td>16-18</td> -->
                        <td>1945-07-19</td>
                    </tr>
                    <tr>
                        <td>3<sup>th</sup> <a href="#"> Trinity</a></td>
                        <td>12-18</td>
                        <!--<td>14-16</td> -->
                        <td>1945-08-06</td>
                    </tr>
                    <tr>
                        <td>4<sup>th</sup> <a href="#"> Trinity</a></td>
                        <td>18-23</td>
                        <!--<td>21-24</td> -->
                        <td>1945-08-09</td>
                    </tr>
                    </tbody>
                </table>
            </section>
            <footer class="warning">
                <p>Updated scores at this moment.</p>
            </footer>
        </div>
    </article>
    <!-- /Data block -->

    <!-- Data block -->
    <article class="span6 data-block">
        <div class="data-container">
            <header>
                <h2>Submit your code</h2>
            </header>
            <section>
                <form>
                    <fieldset>

                        <div class="form-actions">
                            <a class="btn btn-primary" type="submit" href="SubmeterCodigo.html">Submit Code Page</a>
                        </div>
                    </fieldset>
                </form>
            </section>
            <footer class="info">
                <p>	To submit your code to to participate in CiberMouse, click on button <strong> Submit Code Page </strong>
                    and you will redirected to the page that is possible to do this function</p>
            </footer>
        </div>
    </article>
    <!-- /Data block -->

</div>
<!-- /Grid row -->

<div class="alert alert-inverse">
    <button class="close" type="button" data-dismiss="alert">×</button>
    <strong>Some curiosities of this project</strong>
</div>

<!-- Grid row -->
<div class="row">

    <!-- Data block -->

    <!-- /Data block -->

    <!-- Data block -->
    <article class="span4 data-block decent">
        <div class="data-container">
            <section>
                <table class="chart" data-chart="pie">
                    <caption>Most frequency languages</caption>
                    <thead>
                    <tr>
                        <td></td>
                        <th scope="col">food</th>
                        <th scope="col">auto</th>
                        <th scope="col">household</th>
                        <th scope="col">furniture</th>
                        <th scope="col">kitchen</th>
                        <th scope="col">bath</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">C/C++</th>
                        <td>190</td>
                        <td>160</td>
                        <td>40</td>
                        <td>120</td>
                        <td>30</td>
                        <td>70</td>
                    </tr>
                    <tr>
                        <th scope="row">Java</th>
                        <td>3</td>
                        <td>40</td>
                        <td>30</td>
                        <td>45</td>
                        <td>35</td>
                        <td>49</td>
                    </tr>
                    <tr>
                        <th scope="row">Python</th>
                        <td>30</td>
                        <td>140</td>
                        <td>320</td>
                        <td>45</td>
                        <td>50</td>
                        <td>90</td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </article>
    <!-- /Data block -->

    <!-- Data block -->
    <article class="span4 data-block decent">
        <div class="data-container">
            <header>
                <h2>Some information about available languages to use</h2>
            </header>
            <section>
                <ul>
                    <li> All groups are available to use a lot of languages like <strong>Java</strong>, <strong>C/C++</strong>,
                        <strong>Python</strong>, ect... They use the language that are more confortable to them.</li>
                    <li>
                        <p></p>
                        The graphic to the left represents the statistic of the most used languages in the agents.
                    </li>
                    <!-- <p><button class="btn btn-alt btn-large btn-primary "><span class="awe-plane"></span> Let's go</button></p> -->
            </section>
        </div>
    </article>
    <!-- /Data block -->

</div>
<!-- /Grid row -->

