<div class="content-block" role="main" ng-controller="DetailCompetitionController">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">
                        <h2 ng-if="vm.competition.type_of_competition == 'Colaborativa'">{{ vm.competition.name }} (Colaborative)</h2>
                        <h2 ng-if="vm.competition.type_of_competition == 'Competitiva'">{{ vm.competition.name }} (Competitive)</h2>

                        <p ng-if="vm.competitionNotValidTeamsInfo.length != 0">Here is shown in table the list of all teams enrolled in this Competition.</p>
                        <table ng-if="vm.competitionNotValidTeamsInfo.length != 0" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Team Name</th>
                                <th>Number of Agents</th>
                                <th>State of Inscription</th>
                                <th>Remove Inscription</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in vm.competitionNotValidTeamsInfo" >
                                <td><a href="panel/{{ value.name }}/teamMembers">{{value.name}}</a></td>
                                <td>0</td>
                                <td><span class="label label-important">Not Valid</span></td>
                                <td ng-if="value.canRemove == true"><a class="btn btn-primary btn-flat" ng-click="vm.removeInscription(value.name)">X</a></td>
                                <td ng-if="value.canRemove == false"></td>

                            </tr>
                            </tbody>
                        </table>

                        <a ng-if="(vm.competitionNotValidTeamsInfo.length == 0 && vm.teamsToShow.length == 0)"  href="panel/competitions/{{vm.competition.name}}/confirmErrorCompetition" class="btn btn-alt btn-large btn-primary" >Be the First to join this Competition</a>
                        <a ng-if="(vm.competitionNotValidTeamsInfo.length == 0 && vm.teamsToShow.length != 0)"  href="panel/competitions/{{vm.competition.name}}/confirmCompetition" class="btn btn-alt btn-large btn-primary" >Be the First to join this Competition</a>
                        <a ng-if="(vm.competitionNotValidTeamsInfo.length != 0 && vm.teamsToShow.length == 0)"  href="panel/competitions/{{vm.competition.name}}/confirmErrorCompetition" class="btn btn-alt btn-large btn-primary" >Join this Competition</a>
                        <a ng-if="(vm.competitionNotValidTeamsInfo.length != 0 && vm.teamsToShow.length != 0)"  href="panel/competitions/{{vm.competition.name}}/confirmCompetition" class="btn btn-alt btn-large btn-primary" >Join this Competition</a>
                    </div>

                </section>
            </div>

        </article>
    </div>
</div>