<div class="content-block" role="main">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">

                        <h2>You will join the competition ({{vm.competition.name}})!</h2>
                        <h3>Choose which group you want to join this competition</h3>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="select">Team</label>
                        <div class="controls">
                            <select  id="select" name="option">
                                <option ng-repeat="(key, value) in vm.myTeams">{{value.name}}</option>
                            </select>
                        </div>
                    </div>
                </section>

                <div class="form-actions">
                    <button class="btn btn-alt btn-large btn-success" ng-click="vm.enroll()">Confirm</button>
                    <a class="btn btn-alt btn-large btn-danger" href="/panel/competititons/{{vm.competitionInfo.name}}">Cancel</a>
                </div>

            </div>

        </article>
    </div>
</div>