<div class="content-block" role="main">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">

                        <h2>If you click 'Yes', your team ({{vm.team.name}}) will be removed!</h2>
                        <h3>Are you Sure?</h3>
                    </div>
                </section>

                <div class="form-actions">
                    <button class="btn btn-alt btn-large btn-success" ng-click="vm.destroy()">Yes</button>
                    <a class="btn btn-alt btn-large btn-danger" href="/panel/{{vm.team.name}}/editTeamProfile">No</a>
                </div>

            </div>

        </article>
    </div>
</div>