<div class="content-block" role="main">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">
                        <h2>You don't have any Team able to join this competition!</h2>
                        <h3>Please Create a new Team</h3>

                    </div>

                    <a class="btn btn-alt btn-large btn-primary" href="panel/{{vm.username}}/createTeam">Create a New Team</a>


                </section>

            </div>

        </article>
    </div>
</div>