<div class="content-block" role="main">


    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <header>
                    <h2>Create Team</h2>
                    <section class="tab-content">
                        <br></br>
                        <!-- Tab #basic -->
                        <div class="tab-pane active" id="basic">

                            <!-- Example vertical forms -->
                            <div class="row-fluid">
                                <div class="span4">
                                    <p>In this page you can create your team.
                                    </p>
                                    <br></br>
                                    <p> When you complete your editions, please click on button <strong>Save changes</strong> to save your group profile with new information.</p>

                                </div>
                                <div class="span8" ng-controller="CreateTeamController">
                                    <form role="form" ng-submit="vm.create()">
                                        <fieldset>
                                            <div class="control-group">
                                                <label class="control-label" for="teamname">Team Name</label>
                                                <div class="controls">
                                                    <input id="teamname" type="text" placeholder="name of the team" name="name" ng-model="vm.name">
                                                    <!--<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p> -->
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label" for="max_members">Max Number of Members</label>
                                                <div class="controls">
                                                    <input id="max_members" type="number" placeholder="Max Number of Members" name="max_members" ng-model="vm.max_members">
                                                    <!--<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p> -->
                                                </div>
                                            </div>

                                            <div class="form-actions">
                                                <button class="btn btn-alt btn-large btn-primary" type="submit">Finish</button>
                                            </div>

                                            <div class="form-actions">
                                                <button class="btn btn-large btn-inverse btn-alt" href="index.html"><span class="pull-left"> </span> Back </button>
                                            </div>

                                            <!-- info abaixo -->
                                            <footer class="info">
                                                <p>After you click on "Save Changes", the group information will be saved in a database.</p>
                                                <p>If you want to cancel this operation, please click on "Back".</p>

                                            </footer>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </header>
            </div>
        </article>
    </div>
</div>