<div class="content-block" role="main">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">
                        <h2>Credits</h2>
                        <p>List of members of this project over the years.</p>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="span2">Name</th>
                                    <th class="span3">Project</th>
                                    <th class="span3">Work</th>
                                    <th class="span3">Duration</th>
                                    <th class="span2">Links</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>A. Rafael Ferreira</td>
                                    <td>PEI 2014/2015 CiberRato</td>
                                    <td>Django + Rest API</td>
                                    <td>February 2015 - Current</td>
                                    <td>
                                        <a href="https://www.facebook.com/gipmon" target="_blank"><span class="awe-facebook"></span></a>
                                        <a href="https://github.com/gipmon" target="_blank"><span class="awe-github"></span></a>
                                        <a href="http://www.rafaelferreira.pt" target="_blank"><span class="awe-globe"></span></a>
                                        <a href="mailto:mail@rafaelferreira.pt"><span class="awe-envelope"></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bernardo Ferreira</td>
                                    <td>PEI 2014/2015 CiberRato</td>
                                    <td>Canvas viewer</td>
                                    <td>February 2015 - Current</td>
                                    <td>
                                        <span class="awe-facebook"></span>
                                        <span class="awe-github"></span>
                                        <span class="awe-globe"></span>
                                        <span class="awe-envelope"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bruno Silva</td>
                                    <td>PEI 2014/2015 CiberRato</td>
                                    <td>Simulator Viewer</td>
                                    <td>February 2015 - Current</td>
                                    <td>
                                        <span class="awe-facebook"></span>
                                        <span class="awe-github"></span>
                                        <span class="awe-globe"></span>
                                        <span class="awe-envelope"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Diogo Silva</td>
                                    <td>PEI 2014/2015 CiberRato</td>
                                    <td>Simulator + Docker</td>
                                    <td>February 2015 - Current</td>
                                    <td>
                                        <span class="awe-facebook"></span>
                                        <span class="awe-github"></span>
                                        <span class="awe-globe"></span>
                                        <span class="awe-envelope"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Gabriel Vieira</td>
                                    <td>PEI 2014/2015 CiberRato</td>
                                    <td>HTML</td>
                                    <td>February 2015 - Current</td>
                                    <td>
                                        <span class="awe-facebook"></span>
                                        <span class="awe-github"></span>
                                        <span class="awe-globe"></span>
                                        <span class="awe-envelope"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Rodrigo Cunha</td>
                                    <td>PEI 2014/2015 CiberRato</td>
                                    <td>Angular.JS + HTML</td>
                                    <td>February 2015 - Current</td>
                                    <td>
                                        <span class="awe-facebook"></span>
                                        <span class="awe-github"></span>
                                        <span class="awe-globe"></span>
                                        <span class="awe-envelope"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </section>
            </div>

        </article>
    </div>
</div>
