<div class="content-block" role="main">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">
                        <h2>Desktop software</h2>
                        <p>List of desktop software that you can run.</p>
                        <table class="table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Platforms</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cyber-Physical Systems Simulator</td>
                                    <td>Windows/ Linux</td>
                                    <td><a href="http://sourceforge.net/projects/cpss/">http://sourceforge.net/projects/cpss/</a></td>
                                </tr>
                                <tr>
                                    <td>Cyber-Physical Systems Simulator</td>
                                    <td>OS X</td>
                                    <td><a href="https://github.com/gipmon/cibertools-osx">https://github.com/gipmon/cibertools-osx</a></td>
                                </tr>
                                <tr>
                                    <td>Ciber Rato Debugger</td>
                                    <td>Windows/ Linux</td>
                                    <td><a href="http://sourceforge.net/projects/crdebugger/">http://sourceforge.net/projects/crdebugger/</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </section>
            </div>

        </article>
    </div>
</div>
