<div class="content-block" role="main" ng-controller="TeamController">


<!-- Grid row -->
<div class="row">

	<!-- Data block -->
	<article class="span12 data-block">
		<div class="data-container">
			<header>
				<h2>{{ vm.team.group.name }}</h2>
			<section class="tab-content">
				<br></br>
				<!-- Tab #basic -->
				<div class="tab-pane active" id="basic">
				
					<!-- Example vertical forms -->
					<div class="row-fluid">

						</div>
						<div class="span8">
                            <div class="tab-pane active" id="static">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Members</th>
                                        <th>Admin</th>
                                        <th>Remove</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="(key, value) in vm.members">
                                        <td>{{ value.username }}</td>
                                        <td ng-if="value.is_admin==true"><input type="checkbox" name="option1" checked ng-model="value.is_admin" ng-change="vm.removeAdmin(value.username)"></td>
                                        <td ng-if="value.is_admin==false"><input type="checkbox" name="option1" ng-model="value.is_admin" ng-change="vm.addAdmin(value.username)"></td>
                                        <td ng-if="vm.members.length > 1"><a class="btn btn-primary btn-flat" ng-click="vm.removeMember(value.username)">X</a></td>
                                        <td ng-if="vm.members.length == 1"><a class="btn btn-primary btn-flat" href="panel/{{vm.team.group.name}}/editTeamProfile/deleteTeam">X</a></td>


                                    </tr>
                                    </tbody>
                                </table>
                                <form role="form" ng-submit="vm.addMember()">
                                    <fieldset>
                                        <div class="control-group">
                                            <label class="control-label" for="newmember">Add Member</label>
                                            <div class="controls">
                                                <input id="newmember" type="text" placeholder="Member's Username" name="name" ng-model="vm.username">
                                                <button class="btn btn-alt btn-large btn-primary" type="submit">Add</button>
                                                <!--<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p> -->
                                            </div>
                                            <div class="form-actions">

                                            </div>
                                        </div>

                                    </fieldset>

                                </form>
                                <a ng-if="vm.member.is_admin==true" href="/panel/{{ vm.team.group.name }}/editTeamProfile">Edit Team Profile</a>
                            </div>
						</div>
					</div>
				</div>
			</section>	
		</div>
	</article>
</div>