
<div class="hero-unit">
    <h1>Welcome to CiberRato 2015</h1>
    <p>CiberRato is meant to support the competition on it's day. All registered users will be able to join the competition as well as watch a livestream of all the rounds</p>
    <p><a href="/panel/allCompetitions" class="btn btn-alt btn-info btn-large">See Competitions</a></p>
</div>
<!-- Grid row -->
<div class="row">

    <!-- Data block -->
    <article class="span4 data-block accordion-block decent">
        <div class="data-container">
            <div id="accordionName" class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionName" href="#accordionTabOne">Scoring </a>
                    </div>
                    <div id="accordionTabOne" class="accordion-body collapse">
                        <div class="accordion-inner">At the end of each trial a score is assigned to the participant team. It is given by the sum of the scores of all team’s robots (agents).
The simulator determines and assigns the score to each robot. The computed score takes into account the accomplishment of goals and the incurring penalties. </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionName" href="#accordionTabTwo">A brief description of the viewer in real time </a>
                    </div>
                    <div id="accordionTabTwo" class="accordion-body collapse">
                        <div class="accordion-inner">CiberRato Online has a brand new viewer redesigned from the original one to support livestreaming and log playing.</div>
                    </div>
                </div>


            </div>
        </div>
    </article>
    <!-- /Data block -->

    <!-- Data block -->
    <article class="span8 data-block raw">
        <div class="data-container">
            <header>
                <h2>Some informations about CiberRato</h2>
            </header>
            <section>
                <p>CiberRato is a robotic competition, which takes place in a simulation environment running in a network of computers. The simulation system creates a virtual arena, populated by obstacles, where a starting grid , a target area, signaled by a beacon, and a home area are integrated. It also creates the virtual bodies of the robots. Participants must provide the software agents which control the movement of the virtual robots, in order to acomplished the competition goal.</p>
                <p>Agents, playing as a team of five, are given the following challenge: starting from their position in the starting grid they must find a specific spot in a maze (target area), have a team meeting inside the target area and then make all the robots go to the home area. Each robot has to be controlled by an independent program, i.e. the team is actually a collection of, possibly identical, programs. Robots are allowed to communicate with each other within given restrictions. Score depends on fulfilment of challenge goals and on suffered penalties.
</p>
            </section>
        </div>
    </article>
    <!-- /Data block -->

</div>
<!-- /Grid row -->

<!-- Grid row -->

<!-- /Grid row -->

<!-- Grid row -->
<div class="row">



</div>
<!-- /Grid row -->

