
<div class="hero-unit">
    <h1>Welcome to CiberMouse</h1>
    <p>Support on the competition, wherein in the day of the competition, all users registered will have the opportunity to submit their code to be reproduced at the right time by monitor responsible by the competition.</p>
    <p><a href="/panel/allCompetitions" class="btn btn-alt btn-info btn-large">See Competitions</a></p>
</div>
<!-- Grid row -->
<div class="row">

    <!-- Data block -->
    <article class="span4 data-block accordion-block decent">
        <div class="data-container">
            <div id="accordionName" class="accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionName" href="#accordionTabOne">Rules </a>
                    </div>
                    <div id="accordionTabOne" class="accordion-body collapse">
                        <div class="accordion-inner">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionName" href="#accordionTabTwo">A brief description of the viewer in real time </a>
                    </div>
                    <div id="accordionTabTwo" class="accordion-body collapse">
                        <div class="accordion-inner">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionName" href="#accordionTabThree"> How to submit your code? </a>
                    </div>
                    <div id="accordionTabThree" class="accordion-body collapse">
                        <div class="accordion-inner">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionName" href="#accordionTabFour">And what about Ciber Scores?</a>
                    </div>
                    <div id="accordionTabFour" class="accordion-body collapse">
                        <div class="accordion-inner">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- /Data block -->

    <!-- Data block -->
    <article class="span8 data-block raw">
        <div class="data-container">
            <header>
                <h2>Some informations about CiberMouse</h2>
            </header>
            <section>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel metus a nulla tempus aliquet sit amet ut justo. Nam vulputate ligula mauris, tempus suscipit metus.</p>
                <p>Cras laoreet metus quis lacus cursus a eleifend sem malesuada. Duis blandit dolor et risus imperdiet a molestie mi porttitor. Aenean sit amet iaculis leo. Pellentesque tincidunt, urna et dictum cursus, leo nisl pretium eros.</p>
            </section>
        </div>
    </article>
    <!-- /Data block -->

</div>
<!-- /Grid row -->

<!-- Grid row -->

<!-- /Grid row -->

<!-- Grid row -->
<div class="row">



</div>
<!-- /Grid row -->

