<div class="content-block" role="main" ng-controller="MyTeamsController" ng-controller="ProfileController">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">
                        <h2>My teams</h2>
                        <p>Here is shown in table the list of all teams registered. You may able to see their informations</strong></p>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Team Name</th>
                                <th>Number of elements</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in vm.team">
                                <td><a href="panel/{{ value.name }}/editProfile">{{ value.name }}</a></td>
                                <td>{{value.max_members}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-actions">
                        <a class="btn btn-large btn-inverse btn-alt" href="index.html"><span class="pull-left"> </span> Back </a>
                    </div>
                </section>
            </div>

        </article>
    </div>
</div>
