<div class="content-block" role="main" ng-controller="DetailCompetitionController">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">
                        <h2>{{ vm.competition.name }} ({{vm.competition.type_of_competition}})</h2>

                        <p ng-if="vm.competitionTeamsInfo.length != 0">Here is shown in table the list of all teams enrolled in this Competition.</p>
                        <table ng-if="vm.competitionTeamsInfo.length != 0" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Team Name</th>
                                <th>Number of Agents</th>
                                <th>State of Inscription</th>
                                <th>Remove Inscription</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in vm.competitionTeamsInfo" >
                                <td><a href="panel/{{ value.group.name }}/teamMembers">{{value.group.name}}</a></td>
                                <td>0</td>
                                <td ng-if="value.valid == false"><a href="#" ng-click="vm.validateInscription(value.group.name, vm.competition.name)"><span class="label label-important">Not Valid</span></a></td>
                                <td ng-if="value.valid == true "><a href="#" ng-click="vm.validateInscription(value.group.name, vm.competition.name)"><span class="label label-success">Valid</span></a></td>
                                <td><a class="btn btn-primary btn-flat" ng-click="vm.removeInscription(value.group.name)">X</a></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                </section>
            </div>

        </article>
    </div>
</div>