<div class="content-block" role="main">

    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <header>
                    <h2>Create Team</h2>
                </header>
                <section class="tab-content">
                    <br></br>
                    <!-- Tab #basic -->
                    <div class="tab-pane active" id="basic">

                        <!-- Example vertical forms -->
                        <div class="row-fluid">
                            <div class="span4">
                                <p>In this page you can create your competitions.</p>
                                <br></br>
                                <p> When you complete your editions, please click on button <strong>Save changes</strong>.</p>

                            </div>
                            <div class="span8">
                                <form role="form" ng-submit="vm.create()">
                                    <fieldset>
                                        <div class="control-group">
                                            <label class="control-label" for="competitionname">Competition Name</label>
                                            <div class="controls">
                                                <input id="competitionname" type="text" placeholder="name of the competition" name="name" ng-model="vm.competitionName">
                                            </div>
                                        </div>
                                        <div  class="control-group">
                                            <label class="control-label" for="select">Team of the Agent</label>
                                            <div class="controls">
                                                <select id="select" name="option">
                                                    <option value="Competitive">Competitive</option>
                                                    <option value="Collaborative">Collaborative</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="firstroundname">First Round Name</label>
                                            <div class="controls">
                                                <input id="firstroundname" type="text" placeholder="name of the first round" name="name" ng-model="vm.firstRound">
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <button class="btn btn-alt btn-large btn-primary" type="submit">Finish</button>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </article>
    </div>
</div>