<div class="content-block" role="main">


    <!-- Grid row -->
    <div class="row" ng-show="loader.loading">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">
                    <header>
                        <h2>{{vm.competitionName}}</h2>
                    </header>

                    <!-- Tab #basic -->
                    <div class="tab-pane active" id="basic">

                        <!-- Example vertical forms -->
                        <div class="row-fluid">

                        </div>

                        <div class="tab-pane active" id="static">
                            <p ng-if="vm.competitionTeamsInfo.length == 0">There are no teams enrolled in this competition.</p>
                            <p ng-if="vm.competitionTeamsInfo.length != 0">Here is shown in table the list of all teams enrolled in this Competition.</p>


                            <table ng-if="vm.competitionTeamsInfo.length != 0" class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Team Name</th>
                                    <th>State of Inscription</th>
                                    <th>Remove Inscription</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(key, value) in vm.competitionTeamsInfo" >
                                    <td><a href="panel/{{ value.team.name }}/teamMembers">{{value.team.name}}</a></td>
                                    <td ng-if="value.valid == false && vm.competition.state_of_competition=='Register'"><a href="#" ng-click="vm.validateInscription(value.team.name, vm.competition.name, $index)"><span class="label label-important">Not Valid</span></a></td>
                                    <td ng-if="value.valid == true && vm.competition.state_of_competition=='Register' "><a href="#" ng-click="vm.validateInscription(value.team.name, vm.competition.name, $index)"><span class="label label-success">Valid</span></a></td>
                                    <td ng-if="value.valid == false && vm.competition.state_of_competition!='Register'"><span class="label label-important">Not Valid</span></a></td>
                                    <td ng-if="value.valid == true && vm.competition.state_of_competition!='Register' "><span class="label label-success">Valid</span></a></td>

                                    <td ng-if="vm.competition.state_of_competition!='Register' "><a disabled class="btn btn-primary btn-flat">X</a></td>
                                    <td ng-if="vm.competition.state_of_competition=='Register' "><a class="btn btn-primary btn-flat" ng-click="vm.removeInscription(value.team.name)">X</a></td>

                                </tr>
                                </tbody>
                            </table>

                            <a  href="/admin/{{vm.competitionName}}/Scores">   (Consult the Score of this Competition)</a>


                        </div>

                    </div>

                    <hr/>


                        <!-- Example vertical forms -->

                        <p ng-if="vm.rounds.length == 0">There are no teams enrolled in this competition.</p>
                        <p ng-if="vm.rounds.length != 0">Here is shown in table the list of all rounds in this Competition.</p>
                        <div ng-if="vm.rounds.length != 0" ng-repeat="(key, value) in vm.rounds" class="span10">
                            <div class="tab-pane active" id="static">
                                <h3><a href="admin/{{vm.competitionName}}/{{value.name}}/roundDetail">{{value.name}} </a></h3>

                                <p ng-if="value.trials.length == 0"> This round doesn't have any trials.</p>
                                <table ng-if="value.trials.length != 0" class="table table-striped table-hover" >
                                    <thead>
                                    <tr>
                                        <th>Trial Name</th>
                                        <th>State</th>
                                        <th>Teams</th>
                                        <th>Score By Trial</th>
                                        <th>Watch Trial</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="(key1,value1) in value.trials">
                                    <tr>
                                        <td style="vertical-align: middle" rowspan="{{value1.grids.length}}">{{$index+1}} - {{value1.identifier}}</td>
                                        <td style="vertical-align: middle" rowspan="{{value1.grids.length}}">{{value1.state}}</td>
                                        <td ng-if="value1.grids.length == 0"><strong> There are no teams</strong></td>
                                        <td ng-repeat="(key2, value2) in value1.grids" ng-if="$first"><a href="/panel/{{value2.grid_positions.team_name}}/teamMembers">{{value2.grid_positions.team_name}}</a></td>
                                        <td style="vertical-align: middle" rowspan="{{value1.grids.length}}"><a data-toggle="modal" ng-click="vm.identifier=value1.identifier; vm.getScoresByTrial()" href="#addScores">Score</a>
                                            <div class="modal fade"  id="addScores">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">×</button>

                                                    <h2 align="center">Trial Scores</h2>
                                                </div>
                                                <div class="modal-body" style="text-align: center">
                                                    <p ng-if="vm.scoresByTrial.length == 0">There are no Scores!</p>
                                                    <table ng-if="vm.scoresByTrial.length != 0" style="width: 100%" class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th style="border-right: 0px none">Team</th>
                                                            <th style="border-right: 0px none">Score</th>
                                                            <th style="border-right: 0px none">Number Of Agents</th>
                                                            <th style="border-right: 0px none">Time</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody ng-repeat="(key, value) in vm.scoresByTrial">
                                                        <td>{{value.team.name}}</td>
                                                        <td>{{value.score}}</td>
                                                        <td>{{value.number_of_agents}}</td>
                                                        <td>{{value.time}}</td>
                                                        </tbody>
                                                    </table>

                                                </div>

                                            </div>
                                        </td>
                                        <td style="vertical-align: middle" rowspan="{{value1.grids.length}}">
                                            <p ng-if="value1.state == 'WAITING' || value1.state == 'ERROR' || value1.state == 'READY'">Didn't Start</p>
                                            <a href="/panel/{{value1.identifier}}/liveStream" ng-if="value1.state == 'STARTED' || value1.state == 'PREPARE'">Watch Live</a>
                                            <a href="/panel/{{value1.identifier}}/watchTrial" ng-if="value1.state == 'LOG'">Watch</a>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="(key2, value2) in value1.grids" ng-if="!$first">
                                        <td bgcolor="#f8f8f8">
                                            <a href="/panel/{{value2.grid_positions.team_name}}/teamMembers">{{value2.grid_positions.team_name}}</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <a ng-if="value.trials.length != 0" data-toggle="modal" href="#roundScores{{key}}" ng-click="vm.getScoresByRound(value.name, vm.competitionName)">(Consult the Score of this Round)</a>
                                <div class="modal fade"  id="roundScores{{key}}">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">×</button>

                                        <h2 align="center">Round Scores</h2>
                                    </div>
                                    <div class="modal-body" style="text-align: center">
                                        <p ng-if="vm.scoresByRound.length == 0">There are no Scores!</p>
                                        <table ng-if="vm.scoresByRound.length != 0" style="width: 100%" class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th style="border-right: 0px none">Team</th>
                                                <th style="border-right: 0px none">Score</th>
                                                <th style="border-right: 0px none">Number Of Agents</th>
                                                <th style="border-right: 0px none">Time</th>
                                            </tr>
                                            </thead>
                                            <tbody ng-repeat="(key, value) in vm.scoresByRound">
                                            <td>{{value.team.name}}</td>
                                            <td>{{value.score}}</td>
                                            <td>{{value.number_of_agents}}</td>
                                            <td>{{value.time}}</td>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>

                            <hr/>

                        </div>


                    </div>
                    <div class="span8">
                        <a href="javascript:history.go(-1)" class="btn btn-flat btn-large btn-primary">Back</a>

                        <a ng-if="vm.competition.state_of_competition == 'Competition' || vm.competition.state_of_competition == 'Register'" href="/admin/{{vm.competitionName}}/createRound" class="btn btn-flat btn-large btn-success">Create Round</a>

                    </div>

                </section>


            </div>
            <div>
            </div>

        </article>

    </div>
</div>