<div class="content-block" role="main">


    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">
                    <header>
                        <h2>{{vm.competitionName}}</h2>

                    </header>

                    <!-- Tab #basic -->
                    <div class="tab-pane active" id="basic">

                        <!-- Example vertical forms -->
                        <div class="row-fluid">

                        </div>

                        <div class="tab-pane active" id="static">
                            <p ng-if="vm.competitionTeamsInfo.length == 0">There are no teams enrolled in this competition.</p>
                            <p ng-if="vm.competitionTeamsInfo.length != 0">Here is shown in table the list of all teams enrolled in this Competition.</p>


                            <table ng-if="vm.competitionTeamsInfo.length != 0" class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Team Name</th>
                                    <th>State of Inscription</th>
                                    <th>Remove Inscription</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(key, value) in vm.competitionTeamsInfo" >
                                    <td><a href="panel/{{ value.group.name }}/teamMembers">{{value.group.name}}</a></td>
                                    <td ng-if="value.valid == false && vm.competition.state_of_competition=='Register'"><a href="#" ng-click="vm.validateInscription(value.group.name, vm.competition.name)"><span class="label label-important">Not Valid</span></a></td>
                                    <td ng-if="value.valid == true && vm.competition.state_of_competition=='Register' "><a href="#" ng-click="vm.validateInscription(value.group.name, vm.competition.name)"><span class="label label-success">Valid</span></a></td>
                                    <td ng-if="value.valid == false && vm.competition.state_of_competition!='Register'"><span class="label label-important">Not Valid</span></a></td>
                                    <td ng-if="value.valid == true && vm.competition.state_of_competition!='Register' "><span class="label label-success">Valid</span></a></td>

                                    <td ng-if="vm.competition.state_of_competition!='Register' "><a disabled class="btn btn-primary btn-flat" ng-click="vm.removeInscription(value.group.name)">X</a></td>
                                    <td ng-if="vm.competition.state_of_competition=='Register' "><a  class="btn btn-primary btn-flat" ng-click="vm.removeInscription(value.group.name)">X</a></td>

                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>

                    <hr/>

                    <div class="tab-pane active" id="basic">

                        <!-- Example vertical forms -->
                        <div class="row-fluid">

                        </div>
                        <p ng-if="vm.rounds.length == 0">There are no teams enrolled in this competition.</p>
                        <p ng-if="vm.rounds.length != 0">Here is shown in table the list of all rounds in this Competition.</p>
                        <div ng-if="vm.rounds.length != 0" ng-repeat="(key, value) in vm.rounds" class="span8">
                            <div class="tab-pane active" id="static">
                                <h3><a href="admin/{{value.name}}/roundDetail">{{value.name}} </a></h3>
                                <p ng-if="value.simulations.length == 0"> This round doesn't have any trials.</p>
                                <table ng-if="value.simulations.length != 0" class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Trial Name</th>
                                        <th>State</th>
                                        <th>Teams</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="(key1,value1) in value.simulations">
                                    <tr>
                                        <td style="vertical-align: middle" rowspan="{{value1.grids.length}}">{{$index+1}} - {{value1.identifier}}</td>
                                        <td style="vertical-align: middle" rowspan="{{value1.grids.length}}">{{value1.state}}</td>
                                        <td ng-if="value1.grids.length == 0"><strong> There are no teams</strong></td>
                                        <td ng-repeat="(key2, value2) in value1.grids" ng-if="$first"><a href="/panel/{{value2.grid_positions.group_name}}/teamMembers">{{value2.grid_positions.group_name}}</a></td>
                                    </tr>
                                    <tr ng-repeat="(key2, value2) in value1.grids" ng-if="!$first">
                                        <td bgcolor="#f8f8f8">
                                            <a href="/panel/{{value2.grid_positions.group_name}}/teamMembers">{{value2.grid_positions.group_name}}</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <hr/>

                        </div>
                        <div class="span8">
                            <a href="javascript:history.go(-1)" class="btn btn-alt btn-large btn-primary">Back</a>

                            <a ng-if="vm.competition.state_of_competition == 'Competition' || vm.competition.state_of_competition == 'Register'" href="/admin/{{vm.competitionName}}/createRound" class="btn btn-alt btn-large btn-success">Create Round</a>

                        </div>

                    </div>

                </section>


            </div>
            <div>
            </div>

        </article>

    </div>
</div>