<div class="content-block" role="main">
    <!-- Grid row -->
    <div class="row">
        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <header>
                    <h2>Change Password</h2>
                    <section class="tab-content">
                        <br></br>
                        <!-- Tab #basic -->
                        <div class="tab-pane active" id="basic">

                            <!-- Example vertical forms -->
                            <div class="row-fluid">
                                <div class="span4">
                                    <p>In this page you can edit your Password.
                                    </p>
                                    <br></br>
                                    <p> When you complete your editions, please click on button <strong>Save changes</strong> to save your new Password.</p>

                                </div>
                                <div class="span8">
                                    <form role="form" ng-submit="vm.updatePassword()">
                                        <fieldset>
                                            <div class="control-group">
                                                <label class="control-label" for="password">New Password</label>
                                                <div class="controls">
                                                    <input id="password" class="input-xlarge" type="password" placeholder="" name="password" ng-model="vm.profile.password">
                                                    <!--<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p> -->
                                                </div>
                                            </div>

                                            <div class="control-group">
                                                <label class="control-label" for="confirm_password">Confirm New Password</label>
                                                <div class="controls">
                                                    <input id="confirm_password" class="input-xlarge" type="password" placeholder="" name="confirm_password" ng-model="vm.profile.confirm_password">
                                                    <!--<p class="help-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p> -->
                                                </div>
                                            </div>


                                            <div class="form-actions">
                                                <button class="btn btn-alt btn-large btn-primary" type="submit">Save changes</button>
                                            </div>



                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
            </div>
        </article>
    </div>
</div>