<article class="span5 data-block decent">
    <div class="data-container">
        <header>
            <h2>Broadcast Notifications</h2>
        </header>
        <section>
            <div ng-repeat="(key, value) in vm.broadcast" class="alert alert-info">
                {{value.message}}
            </div>
        </section>
    </div>
</article>
<article class="span5 data-block decent">
    <div class="data-container">
        <header>
            <h2>Admin Notifications</h2>
        </header>
        <section>
            <div ng-repeat="(key, value) in vm.admin" class="alert alert-info">
                {{value.message}}
            </div>
        </section>
    </div>
</article>
<article class="span5 data-block decent">
    <div class="data-container">
        <header>
            <h2>User Notifications</h2>
        </header>
        <section>
            <div ng-repeat="(key, value) in vm.user" class="alert alert-info">
                {{value.message}}
            </div>
        </section>
    </div>
</article>
<article ng-repeat="(key1, value1) in vm.team" class="span5 data-block decent">
    <div class="data-container">
        <header>
            <h2>Team ({{value1.team}}) Notifications</h2>
        </header>
        <section>
            <div ng-repeat="(key, value) in value1.notifications" class="alert {{vm.ola}}">
                {{value.content.content}}
            </div>
        </section>
    </div>
</article>