<article ng-if="vm.user.is_staff = false" class="span5 data-block decent">
    <div class="data-container">
        <header>
            <h2>Broadcast Notifications</h2>
        </header>
        <section ng-if="vm.broadcast.length > 0">
            <div ng-repeat="(key, value) in vm.broadcast" class="alert alert-info">
                {{value.content.content}}
            </div>
        </section>
        <p ng-if="vm.broadcast.length == 0">There are no notifications!</p>
    </div>
</article>
<article ng-if="vm.user.is_staff = true" class="span5 data-block decent">
    <div class="data-container">
        <header>
            <h2>Admin Notifications</h2>
        </header>
        <section ng-if="vm.admin.length > 0">
            <div ng-repeat="(key, value) in vm.admin" class="alert alert-info">
                {{value.content.content}}
            </div>
        </section>
        <p ng-if="vm.admin.length == 0">There are no notifications!</p>

    </div>
</article>
<article class="span5 data-block decent">
    <div class="data-container">
        <header>
            <h2>User Notifications</h2>
        </header>
        <section ng-if="vm.user.length > 0">
            <div ng-repeat="(key, value) in vm.user" class="alert alert-info">
                {{value.content.content}}
            </div>
        </section>
        <p ng-if="vm.user.length == 0">There are no notifications!</p>

    </div>
</article>
<article ng-repeat="(key1, value1) in vm.team" class="span5 data-block decent">
    <div class="data-container">
        <header>
            <h2>Team ({{value1.team}}) Notifications</h2>
        </header>
        <section ng-if="value1.notifications.length > 0">
            <div ng-repeat="(key, value) in value1.notifications" class="alert {{vm.status}}">
                {{value.content.content}}
            </div>
        </section>
        <p ng-if="value1.notifications.length == 0">There are no notifications!</p>


    </div>
</article>