{% if not user.is_authenticated %}
<!DOCTYPE html>
<html ng-app="ciberonline">
<head>
    <title ng-bind="'CiberRato | ' + $root.title">CiberRato</title>

    <meta name="description" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <base href="/" />

    {% include 'authentication/stylesheets.html' %}
</head>

<body>
    <!-- Main page container -->
    <section class="container login ng-view" role="main"></section>
    <!-- /Main page container -->

    <!-- Scripts -->
    {% include 'authentication/javascripts.html' %}
</body>
</html>
{% else %}
    <meta http-equiv="refresh" content="0; url={% url 'panel' %}" />
{% endif %}
