<!DOCTYPE html>
<html ng-app="ciberonline">
<head>
    <title>CiberRato | Check email</title>

    <meta name="description" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <base href="/" />

    {% include 'authentication/stylesheets.html' %}
</head>

<body>
    <h1><a href="#" class="brand">Ciber</a></h1>
    <div class="data-block">
        <form role="form">


            <fieldset>
                <h2>Your email is now verified! Thank you! :)</h2>
                <div id="login" class="form-actions">
                    <a class="btn btn-large btn-inverse btn-flat" type="submit"><span class="awe-signin"></span> Log in</a>
                </div>
            </fieldset>
        </form>
    </div>

</body>
</html>
