{% load swampdragon_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>Notifications demo</h1>

<!-- This is our list of notifications -->
<ul id="notifications">
    {% for notification in object_list %}
    <li>{{ notification.message }}</li>
    {% endfor %}
</ul>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- SwampDragon -->
{% swampdragon_settings %}
<script type="text/javascript" src="{% static 'swampdragon/js/dist/swampdragon.js' %}"></script>

<!-- notifications -->
<script type="text/javascript" src="{% static 'notifications.js' %}"></script>
</body>
</html>
