{% if user.is_authenticated %}
<!DOCTYPE html>
<html ng-app="ciberonline">
<head>
    <meta charset="utf-8">
    <title>CiberRato | Panel</title>
    <meta name="description" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <base href="/" />


    {% include 'panel/stylesheets.html' %}

</head>

<body>

{% include 'panel/page_header.html' %}

<!-- Main page container -->
<section class="container" role="main">

    <!-- Left (navigation) side -->
    {% include 'panel/left_side.html' %}
    <!-- Left (navigation) side -->

    <!-- Right (content) side -->
    <div class="content-block ng-view" role="main"></div>
    <!-- /Right (content) side -->

</section>
<!-- /Main page container -->

<!-- Main page footer -->
{% include 'panel/footer.html' %}
<!-- /Main page footer -->

{% include 'panel/javascripts.html' %}
</body>
</html>
{% else %}
    <meta http-equiv="refresh" content="0; url={% url 'idp' %}login" />
{% endif %}