<div class="content-block" role="main">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">

                        <h2>Scores of Competition "{{vm.competition.name}}"</h2>
                        <p>Here is shown in table the list of all types of competition.</p>
                        <p>There are no scores of competition.</p>
                        <div ng-repeat="(key, value) in vm.rounds">
                            <h3>{{value.name}}</h3>
                            <p ng-if="value.scores.length == 0">There are no scores for this round!</p>
                            <table ng-if="value.scores.length != 0" class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Team</th>
                                    <th>Score</th>
                                    <th>Number Of Agents</th>
                                    <th>Time</th>

                                </tr>
                                </thead>
                                <tbody ng-if="value.scores.length != 0" ng-repeat="(key1, value1) in value.scores">
                                    <td>{{value1.team.name}}</td>
                                    <td>{{value1.score}}</td>
                                    <td>{{value1.number_of_agents}}</td>
                                    <td>{{value1.time}}</td>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <a href="javascript:history.go(-1)" class="btn btn-alt btn-large btn-primary">Back</a>

                </section>
            </div>

        </article>
    </div>
</div>