<div class="content-block" role="main" ng-controller="DetailCompetitionController">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">
                        <h2>{{ vm.competition.name }} ({{vm.competition.type_of_competition}})</h2>

                        <p ng-if="vm.competitionTeamsInfo.length != 0">Here is shown in table the list of all teams enrolled in this Competition.</p>
                        <table ng-if="vm.competitionTeamsInfo.length != 0" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Team Name</th>
                                <th>Number of Agents</th>
                                <th>State of Inscription</th>
                                <th>Remove Inscription</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in vm.competitionTeamsInfo" >
                                <td><a href="panel/{{ value.group.name }}/teamMembers">{{value.group.name}}</a></td>
                                <td>0</td>
                                <td ng-if="value.valid == false"><span class="label label-important">Not Valid</span></td>
                                <td ng-if="value.valid == true"><span class="label label-success">>Valid</span></td>
                                <td ng-if="value.canRemove == true && value.valid == false"><a class="btn btn-primary btn-flat" ng-click="vm.removeInscription(value.group.name)">X</a></td>
                                <td ng-if="value.canRemove == true && value.valid == true">
                                    <a data-toggle="modal"  href="#RemoveError" class="btn btn-primary btn-flat" >X</a>
                                    <div class="modal fade"  id="RemoveError">
                                        <div class="modal-header">
                                            <h3 align="center">You're Inscription is already validated. To cancel, please contact the administration</h3>
                                        </div>
                                        <div class="modal-footer">
                                            <a data-dismiss="modal" class="btn btn-alt btn-success">OK</a>
                                        </div>
                                    </div>
                                </td>
                                <td ng-if="value.canRemove != true"></td>

                            </tr>
                            </tbody>
                        </table>

                        <a ng-if="(vm.competitionTeamsInfo.length == 0 && vm.teamsToShow.length == 0)" data-toggle="modal"  href="#confirmJoinError" class="btn btn-alt btn-large btn-primary" >Be the First to join this Competition</a>
                        <a ng-if="(vm.competitionTeamsInfo.length == 0 && vm.teamsToShow.length != 0)" data-toggle="modal" href="#confirmJoin" class="btn btn-alt btn-large btn-primary" >Be the First to join this Competition</a>
                        <a ng-if="(vm.competitionTeamsInfo.length != 0 && vm.teamsToShow.length == 0)" data-toggle="modal" href="#confirmJoinError" class="btn btn-alt btn-large btn-primary" >Join this Competition</a>
                        <a ng-if="(vm.competitionTeamsInfo.length != 0 && vm.teamsToShow.length != 0)" data-toggle="modal" href="#confirmJoin" class="btn btn-alt btn-large btn-primary" >Join this Competition</a>
                        <div class="modal fade"  id="confirmJoin">
                            <div class="modal-header">
                                <h3 align="center">Select a team to join this competition!</h3>
                            </div>
                            <div class="modal-body">
                                <div  class="control-group">
                                    <label class="control-label" for="select">Team</label>
                                    <div class="controls">
                                        <select id="select" name="option">
                                            <option ng-repeat="(key, value) in vm.teamsToShow">{{value.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a ng-click="vm.enroll()" class="btn btn-alt btn-success" data-dismiss="modal">Join</a>
                                <a data-dismiss="modal" class="btn btn-alt btn-danger">Cancel</a>

                            </div>
                        </div>
                        <div class="modal fade"  id="confirmJoinError">
                            <div class="modal-header">
                                <h3 align="center">You don't have any created team able to join this competition! Please Create one!</h3>
                            </div>
                            <div class="modal-footer">
                                <a data-dismiss="modal" class="btn btn-alt btn-success">OK</a>
                            </div>
                        </div>
                    </div>

                </section>
            </div>

        </article>
    </div>
</div>