<div class="content-block" role="main">


    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">
                    <header>
                        <h2>{{vm.competitionName}}</h2>

                    </header>

                    <!-- Tab #basic -->
                    <div class="tab-pane active" id="basic">

                        <!-- Example vertical forms -->
                        <div class="row-fluid">

                        </div>

                        <div class="tab-pane active" id="static">
                            <p ng-if="vm.competitionTeamsInfo.length == 0">There are no teams enrolled in this competition.</p>
                            <p ng-if="vm.competitionTeamsInfo.length != 0">Here is shown in table the list of all teams enrolled in this Competition.</p>


                            <table ng-if="vm.competitionTeamsInfo.length != 0" class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Team Name</th>
                                    <th>State of Inscription</th>
                                    <th>Remove Inscription</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(key, value) in vm.competitionTeamsInfo" >
                                    <td><a href="panel/{{ value.group.name }}/teamMembers">{{value.group.name}}</a></td>
                                    <td ng-if="value.valid == false"><span class="label label-important">Not Valid</span></td>
                                    <td ng-if="value.valid == true"><span class="label label-success">Valid</span></td>

                                    <td><a disabled class="btn btn-primary btn-flat">X</a></td>

                                </tr>
                                </tbody>
                            </table>

                        </div>

                        <div ng-repeat="(key, value) in vm.rounds" class="span8">
                            <div class="tab-pane active" id="static">
                                <h3>{{value.name}}</h3>
                                <p ng-if="value.simulations.length == 0"> This round doesn't have any trials.</p>
                                <table ng-if="value.simulations.length != 0" class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Trial Name</th>
                                        <th>State</th>

                                        <th>Teams</th>
                                        <th>Watch Trial</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="(key1,value1) in value.simulations">
                                        <tr>
                                            <td style="vertical-align: middle" rowspan="{{value1.grids.length}}">{{$index+1}} - {{value1.identifier}}</td>
                                            <td style="vertical-align: middle" rowspan="{{value1.grids.length}}">{{value1.state}}</td>
                                            <td ng-if="value1.grids.length == 0"><strong> There are no teams</strong></td>
                                            <td ng-repeat="(key2, value2) in value1.grids" ng-if="$first"><a href="/panel/{{value2.grid_positions.group_name}}/teamMembers">{{value2.grid_positions.group_name}}</a></td>
                                            <td style="vertical-align: middle" rowspan="{{value1.grids.length}}"><a ng-if="value1.state == 'WAITING'">Didn't Start</a>
                                                <a href="/panel/{{value1.identifier}}/liveStream" ng-if="value1.state == 'STARTED'">Watch Live</a>
                                                <a href="/panel/{{value1.identifier}}/watchSimulation" ng-if="value1.state == 'LOG'">Watch</a>
                                            </td>

                                        </tr>
                                        <tr ng-repeat="(key2, value2) in value1.grids" ng-if="!$first">
                                            <td bgcolor="#f8f8f8">
                                                <a href="/panel/{{value2.grid_positions.group_name}}/teamMembers">{{value2.grid_positions.group_name}}</a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <hr/>

                        </div>
                        <div class="span8">
                            <a href="javascript:history.go(-1)" class="btn btn-alt btn-large btn-primary">Back</a>


                        </div>


                    </div>

                </section>
            </div>

        </article>

    </div>
</div>