<div class="content-block" role="main">
    <!-- Grid row -->
    <div class="row" ng-show="loader.loading">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">

                        <h2>All Statistics</h2>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Grids</th>
                                <th>Labs</th>
                                <th>Params</th>
                                <th>Agents</th>
                                <th>JSON Logs</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in vm.stats">
                                <td>{{value.grids}}</td>
                                <td>{{value.labs}}</td>
                                <td>{{value.params}}</td>
                                <td>{{value.agents}}</td>
                                <td>{{value.json_logs}}</td>

                            </tr>
                            </tbody>
                        </table>


                    </div>
                </section>
            </div>

        </article>
    </div>
</div>