<div class="content-block" role="main">

    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <header>
                    <h2>Create Round</h2>
                </header>
                <section class="tab-content">
                    <br></br>
                    <!-- Tab #basic -->
                    <div class="tab-pane active" id="basic">

                        <!-- Example vertical forms -->
                        <div class="row-fluid">
                            <div class="span4">
                                <p>In this page you can create rounds for one competitions.</p>
                                <br></br>
                                <p> When you complete your editions, please click on button <strong>Save changes</strong>.</p>

                            </div>
                            <div class="span8">
                                <form role="form" ng-submit="vm.create()">
                                    <fieldset>
                                        <div class="control-group">
                                            <label class="control-label" for="roundName">Round Name</label>
                                            <div class="controls">
                                                <input id="roundName" type="text" placeholder="name of the round" name="name" ng-model="vm.roundName">
                                            </div>
                                        </div>

                                        <div class="form-actions">

                                            <a href="javascript:history.go(-1)" class="btn btn-alt btn-large btn-primary">Back</a>
                                            <button class="btn btn-alt btn-large btn-success" type="submit">Finish</button>

                                        </div>

                                    </fieldset>
                                </form>


                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </article>
    </div>
</div>