<div class="content-block" role="main">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">
                        <h2>{{vm.roundName}}</h2>
                        <p ng-if="vm.grid.size == 0 && vm.lab.size == 0 && vm.param_list.size == 0">This round doesn't have any files uploaded.</p>

                        <table ng-if="vm.grid.size != 0 || vm.lab.size != 0 || vm.param_list.size != 0" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>File Name</th>
                                <th>Type</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td ng-if="vm.grid.size != 0">{{vm.grid.name}}</td>
                                <td ng-if="vm.grid.size != 0">Grid</td>
                            </tr>
                            <tr>
                                <td ng-if="vm.lab.size != 0">{{vm.lab.name}}</td>
                                <td ng-if="vm.lab.size != 0">Lab</td>
                            </tr>

                            <tr>
                                <td ng-if="vm.param_list.size != 0">{{vm.param_list.name}}</td>
                                <td ng-if="vm.param_list.size != 0">Param List</td>
                            </tr>

                            </tbody>
                        </table>

                        <a data-toggle="modal"  href="#uploadParams">(Upload Params for this Round)</a>

                        <hr/>

                        <div class="modal fade"  id="uploadParams">
                            <div class="modal-header">
                                <button type="button" data-dismiss="modal" class="close" ng-click="vm.reload()" >×</button>
                                <h2 align="center">Upload your Params</h2>
                            </div>
                            <div class="modal-body">
                                <p><strong>Upload Param_List</strong></p>
                                <input id="ParamListUpload"
                                       type="file" name="files[]"
                                       class="inputFile clickable"
                                        />
                                <button class="btn btn-alt btn-primary" ng-click="vm.uploadParamList()">Upload</button>

                                <p><strong>Upload Grid</strong></p>
                                <input id="GridUpload"
                                       type="file" name="files[]"
                                       class="inputFile clickable"
                                        />
                                <button class="btn btn-alt btn-primary"  ng-click="vm.uploadGrid()">Upload</button>

                                <p><strong>Upload Lab</strong></p>
                                <input id="LabUpload"
                                       type="file" name="files[]"
                                       class="inputFile clickable"
                                        />
                                <button class="btn btn-alt btn-primary"  ng-click="vm.uploadLab()">Upload</button>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-alt btn-success" style="float: right;" data-dismiss="modal" ng-click="vm.uploadAll()" >Upload All</button>
                            </div>
                        </div>
                        <p></p>
                        <p ng-if="vm.simulations.length != 0">Here is shown in table the list of all simulations of this round.</p>
                        <p ng-if="vm.simulations.length == 0">This round doesn't have any simulation.</p>
                        <table ng-if="vm.simulations.length != 0" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Simulation identifier</th>
                                <th>State</th>
                                <th>Manage Agents</th>
                                <th>Remove Simulation</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in vm.simulations" >
                                <td id="identifier">{{value.identifier}}</td>
                                <td>{{value.state}}</td>
                                <td><a data-toggle="modal" ng-click="vm.identifier=value.identifier; vm.getSimulationAgents()" href="#addAgents{{key}}">Manage</a>
                                    <div class="modal fade"  id="addAgents{{key}}">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">×</button>

                                            <h2 align="center">Drag the agents for this simulation</h2>
                                        </div>
                                        <div class="modal-body" style="text-align: center">
                                            <div class="row" style="padding-left: 40px">
                                                <div ng-repeat="(listName, list) in vm.models.lists" class="span3 associateAgents">
                                                    <!-- The dnd-list directive allows to drop elements into it.
                                                        The dropped data will be added to the referenced list -->
                                                    <h3>{{listName}}</h3>
                                                    <ul dnd-list="list">
                                                        <!-- The dnd-draggable directive makes an element draggable and will
                                                             transfer the object that was assigned to it. If an element was
                                                             dragged away, you have to remove it from the original list
                                                             yourself using the dnd-moved attribute -->
                                                        <li ng-repeat="item in list"
                                                            dnd-draggable="item"
                                                            dnd-moved="list.splice($index, 1); vm.moved(item.label);"
                                                            dnd-effect-allowed="move"
                                                            dnd-selected="vm.models.selected = item"
                                                            ng-class="{'selected': vm.models.selected === item}"
                                                                >
                                                            {{item.label}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </td>
                                <td><a class="btn btn-primary btn-flat" ng-click="vm.removeSimulation(value.identifier)">X</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="javascript:history.go(-1)" class="btn btn-alt btn-large btn-primary">Back</a>
                        <a ng-click="vm.createSimulation()" class="btn btn-alt btn-large btn-success">Create Simulation</a>
                    </div>

                    <footer class="warning">
                        <a data-toggle="modal" href="#confirmRound">Delete Round</a>

                    </footer>
                    <div class="modal fade hide"  id="confirmRound">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal">×</button>

                            <p align="center">This Round will be removed!</p>
                        </div>
                        <div class="modal-footer">
                            <a ng-click="vm.destroy()" class="btn btn-alt btn-danger" data-dismiss="modal">Delete</a>
                        </div>
                    </div>


                </section>
            </div>

        </article>
    </div>
</div>

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>


