<div class="content-block" role="main">
    <!-- Grid row -->
    <div class="row">

        <!-- Data block -->
        <article class="span12 data-block">
            <div class="data-container">
                <section class="tab-content">

                    <!-- Tab #static -->
                    <div class="tab-pane active" id="static">
                        <h2>{{vm.roundName}}</h2>
                        <p ng-if="vm.grid.size == '0B' && vm.lab.size == '0B' && vm.param_list.size == '0B'">This round doesn't have any files uploaded.</p>

                        <table ng-if="vm.grid.size != '0B' || vm.lab.size != '0B' || vm.param_list.size != '0B'" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>File Name</th>
                                <th>Size</th>
                                <th>Type</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td ng-if="vm.grid.size != '0B'">{{vm.grid.file}}</td>
                                <td ng-if="vm.grid.size != '0B'">{{vm.grid.size}}</td>
                                <td ng-if="vm.grid.size != '0B'">Grid</td>

                            </tr>
                            <tr>
                                <td ng-if="vm.lab.size != '0B'">{{vm.lab.file}}</td>
                                <td ng-if="vm.lab.size != '0B'">{{vm.lab.size}}</td>
                                <td ng-if="vm.lab.size != '0B'">Lab</td>

                            </tr>

                            <tr>
                                <td ng-if="vm.param_list.size != '0B'">{{vm.param_list.file}}</td>
                                <td ng-if="vm.param_list.size != '0B'">{{vm.param_list.size}}</td>
                                <td ng-if="vm.param_list.size != '0B'">Param List</td>

                            </tr>

                            </tbody>
                        </table>

                        <a data-toggle="modal"  href="#uploadParams">(Upload Params for this Round)</a>

                        <hr/>

                        <div class="modal fade"  id="uploadParams">
                            <div class="modal-header">
                                <button type="button" data-dismiss="modal" class="close" >×</button>
                                <h2 align="center">Upload your Params</h2>
                            </div>
                            <div class="modal-body">
                                <p><strong>Upload Param_List</strong></p>
                                <input id="ParamListUpload"
                                       type="file" name="files[]"
                                       class="inputFile clickable"
                                        />
                                <button class="btn btn-flat btn-primary" ng-click="vm.uploadParamList()">Upload</button>

                                <p><strong>Upload Grid</strong></p>
                                <input id="GridUpload"
                                       type="file" name="files[]"
                                       class="inputFile clickable"
                                        />
                                <button class="btn btn-flat btn-primary"  ng-click="vm.uploadGrid()">Upload</button>

                                <p><strong>Upload Lab</strong></p>
                                <input id="LabUpload"
                                       type="file" name="files[]"
                                       class="inputFile clickable"
                                        />
                                <button class="btn btn-flat btn-primary"  ng-click="vm.uploadLab()">Upload</button>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-flat btn-success" style="float: right;" data-dismiss="modal" ng-click="vm.uploadAll()" >Upload All</button>
                            </div>
                        </div>
                        <p></p>
                        <p ng-if="vm.trials.length != 0">Here is shown in table the list of all trials of this round.</p>
                        <p ng-if="vm.trials.length == 0">This round doesn't have any trial.</p>
                        <table ng-if="vm.trials.length != 0" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Trial identifier</th>
                                <th>State</th>
                                <th>Manage Grids</th>
                                <th>Grids</th>
                                <th>Start Trial</th>
                                <th>Watch Trial</th>
                                <th>Scores</th>
                                <th>Remove Trial</th>

                            </tr>
                            </thead>
                            <tbody ng-repeat="(key, value) in vm.trials" >
                            <tr>
                                <td style="vertical-align: middle" rowspan="{{value.gridsTotal.length}}" id="identifier">{{$index+1}} - {{value.identifier}}</td>
                                <td ng-if="value.state != 'ERROR'" style="vertical-align: middle" rowspan="{{value.gridsTotal.length}}">{{value.state}}</td>
                                <td ng-if="value.state == 'ERROR'" style="vertical-align: middle" rowspan="{{value.gridsTotal.length}}"><a data-toggle="modal" href="#error">{{value.state}}</a>
                                    <div class="modal fade"  id="error">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">×</button>

                                            <p align="center">{{value.errors}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td style="vertical-align: middle" rowspan="{{value.gridsTotal.length}}"><a data-toggle="modal" ng-click="vm.identifier=value.identifier; vm.getTrialGrids();" href="#addAgents{{key}}">Manage</a>
                                    <div class="modal fade"  id="addAgents{{key}}">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">×</button>

                                            <h2 align="center">Drag the grids for this trial (Max: {{vm.competition.type_of_competition.number_teams_for_trial}})</h2>
                                        </div>
                                        <div class="modal-body" style="text-align: center">
                                            <div class="row" style="padding-left: 40px">
                                                <div ng-repeat="(listName, list) in vm.models.lists" class="span3 associateAgents">
                                                    <!-- The dnd-list directive allows to drop elements into it.
                                                        The dropped data will be added to the referenced list -->
                                                    <h3>{{listName}}</h3>
                                                    <ul dnd-list="list">
                                                        <!-- The dnd-draggable directive makes an element draggable and will
                                                             transfer the object that was assigned to it. If an element was
                                                             dragged away, you have to remove it from the original list
                                                             yourself using the dnd-moved attribute -->
                                                        <li ng-if="listName == 'Trial'"ng-repeat="item in list"
                                                            dnd-draggable="item"
                                                            dnd-moved="list.splice($index, 1); "
                                                            dnd-effect-allowed="move"
                                                            dnd-selected="vm.models.selected = item"
                                                            ng-class="{'selected': vm.models.selected === item}"
                                                            dnd-disable-if="true"
                                                                >
                                                            {{item.label}} <button type="button" class="close" ng-click="vm.disassociateGrid(item.position)">×</button>
                                                        </li>
                                                        <li ng-if="listName == 'Available'"ng-repeat="item in list"
                                                            dnd-draggable="item"
                                                            dnd-moved="list.splice($index, 1); vm.moved(item.label, item.identifier);"
                                                            dnd-effect-allowed="move"
                                                            dnd-selected="vm.models.selected = item"
                                                            ng-class="{'selected': vm.models.selected === item}"
                                                            dnd-disable-if="vm.models.lists.Trial.length == vm.competition.type_of_competition.number_teams_for_trial"

                                                                >
                                                            {{item.label}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <p ng-if = "vm.models.lists.Trial.length == vm.competition.type_of_competition.number_teams_for_trial"><strong>You can't associate more agents, limit reached.</strong></p>

                                        </div>
                                        
                                    </div>
                                </td>
                                <td ng-if="value.gridsTotal.length == 0"><strong> There are no grids</strong></td>

                                <td ng-repeat="(key2, value2) in value.gridsTotal" ng-if="$first"><a href="/panel/{{value2.label}}/teamMembers">{{value2.label}}</a>
                                </td>

                                <td style="vertical-align: middle" rowspan="{{value.gridsTotal.length}}" ng-if="vm.competition.state_of_competition == 'Competition'"><a href="#" ng-if="value.state == 'READY'" ng-click = "vm.prepareTrial(value.identifier)">Prepare the trial</a>

                                    <a href="#" ng-if="value.state == 'PREPARE'" ng-click = "vm.startTrial(value.identifier)">Start</a>
                                    <p ng-if="value.state == 'WAITING'">Waiting to Start</p>
                                    <p ng-if="value.state == 'ERROR'">Error</p>
                                    <p ng-if="value.state == 'STARTED'">Started</p>
                                    <p ng-if="value.state == 'LOG'">Finished</p>
                                </td>
                                <td style="vertical-align: middle" rowspan="{{value.gridsTotal.length}}" ng-if="vm.competition.state_of_competition == 'Register'"><a href="#" ng-click="vm.change()">Change State of Competition</a></td>
                                <td style="vertical-align: middle" rowspan="{{value.gridsTotal.length}}" ng-if="vm.competition.state_of_competition == 'Past'">Competition ended!</td>
                                <td style="vertical-align: middle" rowspan="{{value.gridsTotal.length}}">
                                    <p ng-if="value.state == 'ERROR' || value.state == 'READY' || value.state == 'WAITING'">Didn't Start</p>
                                    <a href="/panel/{{value.identifier}}/liveStream"  ng-if="value.state == 'STARTED' || value.state == 'PREPARE'">Watch Live</a>
                                    <a href="/panel/{{value.identifier}}/watchTrial" ng-if="value.state == 'LOG'">Watch</a>
                                </td>
                                <td style="vertical-align: middle" rowspan="{{value.gridsTotal.length}}"><a data-toggle="modal" ng-click="vm.identifier=value.identifier; vm.getTrialGrids(); vm.getScoresByTrial()" href="#addScores">Manage Scores</a>
                                    <div class="modal fade"  id="addScores">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">×</button>

                                            <h2 align="center">Consult/Manage the Score Table</h2>
                                        </div>
                                        <div class="modal-body" style="text-align: center">
                                            <p ng-if="vm.models.lists.Trial.length == 0">There are no teams associated to this trial</p>
                                            <form class="form-horizontal" ng-if="vm.models.lists.Trial.length != 0" role="form">

                                                <!-- Second level tabs -->
                                                <div class="tabbable tabs-left">
                                                    <ul class="nav nav-tabs">
                                                        <li id="score" class="active"><a href="#tab1" data-toggle="tab">Scores</a></li>
                                                        <li id="manage"><a href="#tab2" data-toggle="tab">Manage Scores</a></li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="tab1">
                                                            <br/>
                                                            <p ng-if="vm.scoresByTrial.length == 0">There are no Scores!</p>
                                                            <table ng-if="vm.scoresByTrial.length != 0" style="width: 95%" class="table table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="border-right: 0px none">Team</th>
                                                                        <th style="border-right: 0px none">Score</th>
                                                                        <th style="border-right: 0px none">Number Of Agents</th>
                                                                        <th style="border-right: 0px none">Time</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody ng-repeat="(key, value) in vm.scoresByTrial">
                                                                    <td>{{value.team.name}}</td>
                                                                    <td>{{value.score}}</td>
                                                                    <td>{{value.number_of_agents}}</td>
                                                                    <td>{{value.time}}</td>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="tab-pane" id="tab2">
                                                            <fieldset>
                                                                <div ng-repeat="(key1, value1) in vm.models.lists.Trial" class="control-group">
                                                                    <label class="control-label" for="score{{value1.label}}">{{value1.label}}</label>
                                                                    <div class="controls">
                                                                        <input style="margin-bottom: 5%; width: 65%" value="" id="score{{value1.label}}" type="number" placeholder="Score" name="Score" >
                                                                        <input style="margin-bottom: 5%; width: 65%" value="" id="agents{{value1.label}}" type="number" placeholder="Number Of Agents" name="Number">
                                                                        <input style="width: 65%" id="time{{value1.label}}" type="number" placeholder="Time" name="Time">
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <div ng-if="vm.models.lists.Trial.length != 0" class="modal-footer">
                                                                <a ng-click="vm.saveScores()" data-toggle="tab" href="#tab1" class="btn btn-flat btn-large btn-success">Save Scores</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    <!-- Second level tabs -->

                                            </form>

                                        </div>

                                    </div>
                                </td>
                                <td style="vertical-align: middle" rowspan="{{value.gridsTotal.length}}"><a class="btn btn-primary btn-flat" ng-click="vm.removeTrial(value.identifier)">X</a></td>
                            </tr>
                            <tr ng-repeat="(key2, value2) in value.gridsTotal" ng-if="!$first">
                                <td bgcolor="#f8f8f8">
                                    <a href="/panel/{{value2.label}}/teamMembers">{{value2.label}}</a>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="javascript:history.go(-1)" class="btn btn-flat btn-large btn-primary">Back</a>
                        <a ng-click="vm.createTrial()" class="btn btn-flat btn-large btn-success">Create Trial</a>
                    </div>

                    <footer class="warning">
                        <a data-toggle="modal" href="#confirmRound">Delete Round</a>

                    </footer>
                    <div class="modal fade hide"  id="confirmRound">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal">×</button>

                            <p align="center">This Round will be removed!</p>
                        </div>
                        <div class="modal-footer">
                            <a ng-click="vm.destroy()" class="btn btn-flat btn-danger" data-dismiss="modal">Delete</a>
                        </div>
                    </div>


                </section>
            </div>

        </article>
    </div>
</div>

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>








